<div class="header-menu">
    <div class="col-sm-7">
        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
        <div class="header-left">
            <button class="search-trigger"><i class="fa fa-search"></i></button>
            <div class="form-inline">
                <form class="search-form">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                    <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="user-area dropdown float-right">
            <div class="header-left fa-pull-left">
                <div class="dropdown for-notification">
                    <button class="btn btn-secondary notification-tab-toggler dropdown-toggle" type="button" id="notification" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell" data-toggle="modal" data-target="#exampleModal2"></i>
                        <span id="noti-count" class="count bg-danger" style="display: none">5</span>
                    </button>
                </div>
            </div>&nbsp;&nbsp;&nbsp;
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="user-avatar rounded-circle" src="/images/admin.jpg" alt="User Avatar">
            </a>
            <div class="user-menu dropdown-menu" style="max-width: 300px !important;">
                <h6 id="user" style="margin-right:10px; vertical-align: sub"></h6><hr/>
                <a class="nav-link pull-right" href="#" onclick="logout()"><i class="fa fa-power-off"></i>
                    Logout
                </a>
            </div>
        </div>
    </div>
</div>