<!--Notification side panel-->

<div class="notification-pane d-none" id="notification-pane">
    <button type="button" class="close" data-dismiss="dropdown" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <div class="row" style="margin-right: 0; float: right;">
        <div class="col-md-12">
            <div class="feeds notification-pane-content">
                <div class="feed-header">
                    <h4>Notifications</h4>
                    <div class="row">
                        <div class="col-md-9">
                            <h6 id="noti-info" style="margin-top: 15px; color: #878787;">You have a new notification</h6>
                        </div>
                        <div class="col-md-3" style="padding-top: 8px;">
                            <button class="btn refresh-btn">Refresh</button>
                        </div>

                    </div>

                </div>
                <hr class="divider">
                <div class="tab-content " id=""
                     style="padding: 10px 15px;">
                    <div class="tab-pane fade show active" id="n-dropdown" role="tabpanel" aria-labelledby="all-tab">
                        <div>
                        <!--<div class="feed-body-content">-->
                            <!--<p class="feed-body-header">Just Now</p>-->
                            <!--<div class="row">-->
                                <!--<span class="col-md-3" style="padding-right: 0"><img src="atb-logo.png"></span>-->
                                <!--<span class="col-md-9" style="padding-left: 10px;font-size: 14px"> Rawdenim youprobably haven't heard of them jean shorts Austin.-->
                                    <!--<div class="client-notification">-->
                                        <!--<img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar"-->
                                             <!--style="">-->
                                            <!--<p>David Becham</p>-->
                                        <!--<div class="feed-content-menu float-right" id="dropdownMenuButton"-->
                                             <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</div>-->
                                    <!--</div>-->
                                 <!--</span>-->
                            <!--</div>-->
                            <!--<div class="feed-content-menu-drp-dwn d-none" id="feed-content-menu-drp-dwn"-->
                                 <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item" href="#">Action</a>-->
                                <!--<a class="dropdown-item" href="#">Another action</a>-->
                                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="feed-body-content">-->
                            <!--<p class="feed-body-header">Just Now</p>-->
                            <!--<div class="row">-->
                                <!--<span class="col-md-3" style="padding-right: 0"><img src="atb-logo.png"></span>-->
                                <!--<span class="col-md-9" style="padding-left: 10px;font-size: 14px"> Rawdenim youprobably haven't heard of them jean shorts Austin.-->
                                    <!--<div class="client-notification">-->
                                        <!--<img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar"-->
                                             <!--style="">-->
                                            <!--<p>David Becham</p>-->
                                        <!--<div class="feed-content-menu float-right" id=""-->
                                             <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</div>-->
                                    <!--</div>-->
                                 <!--</span>-->
                            <!--</div>-->
                            <!--<div class="feed-content-menu-drp-dwn d-none" id="feed-content-menu-drp-dwn"-->
                                 <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item" href="#">Action</a>-->
                                <!--<a class="dropdown-item" href="#">Another action</a>-->
                                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="feed-body-content">-->
                            <!--<p class="feed-body-header">Just Now</p>-->
                            <!--<div class="row">-->
                                <!--<span class="col-md-3" style="padding-right: 0"><img src="atb-logo.png"></span>-->
                                <!--<span class="col-md-9" style="padding-left: 10px;font-size: 14px"> Rawdenim youprobably haven't heard of them jean shorts Austin.-->
                                    <!--<div class="client-notification">-->
                                        <!--<img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar"-->
                                             <!--style="">-->
                                            <!--<p>David Becham</p>-->
                                        <!--<div class="feed-content-menu float-right" id=""-->
                                             <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</div>-->
                                    <!--</div>-->
                                 <!--</span>-->
                            <!--</div>-->
                            <!--<div class="feed-content-menu-drp-dwn d-none" id="feed-content-menu-drp-dwn"-->
                                 <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item" href="#">Action</a>-->
                                <!--<a class="dropdown-item" href="#">Another action</a>-->
                                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="feed-body-content">-->
                            <!--<p class="feed-body-header">Just Now</p>-->
                            <!--<div class="row">-->
                                <!--<span class="col-md-3" style="padding-right: 0"><img src="atb-logo.png"></span>-->
                                <!--<span class="col-md-9" style="padding-left: 10px;font-size: 14px"> Rawdenim youprobably haven't heard of them jean shorts Austin.-->
                                    <!--<div class="client-notification">-->
                                        <!--<img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar"-->
                                             <!--style="">-->
                                            <!--<p>David Becham</p>-->
                                        <!--<div class="feed-content-menu float-right" id=""-->
                                             <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</div>-->
                                    <!--</div>-->
                                 <!--</span>-->
                            <!--</div>-->
                            <!--<div class="feed-content-menu-drp-dwn d-none" id="feed-content-menu-drp-dwn"-->
                                 <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item" href="#">Action</a>-->
                                <!--<a class="dropdown-item" href="#">Another action</a>-->
                                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="feed-body-content">-->
                            <!--<p class="feed-body-header">Just Now</p>-->
                            <!--<div class="row">-->
                                <!--<span class="col-md-3" style="padding-right: 0"><img src="atb-logo.png"></span>-->
                                <!--<span class="col-md-9" style="padding-left: 10px;font-size: 14px"> Rawdenim youprobably haven't heard of them jean shorts Austin.-->
                                    <!--<div class="client-notification">-->
                                        <!--<img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar"-->
                                             <!--style="">-->
                                            <!--<p>David Becham</p>-->
                                        <!--<div class="feed-content-menu float-right" id=""-->
                                             <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</div>-->
                                    <!--</div>-->
                                 <!--</span>-->
                            <!--</div>-->
                            <!--<div class="feed-content-menu-drp-dwn d-none" id="feed-content-menu-drp-dwn"-->
                                 <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item" href="#">Action</a>-->
                                <!--<a class="dropdown-item" href="#">Another action</a>-->
                                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="feed-body-content">-->
                            <!--<p class="feed-body-header">Just Now</p>-->
                            <!--<div class="row">-->
                                <!--<span class="col-md-3" style="padding-right: 0"><img src="atb-logo.png"></span>-->
                                <!--<span class="col-md-9" style="padding-left: 10px;font-size: 14px"> Rawdenim youprobably haven't heard of them jean shorts Austin.-->
                                    <!--<div class="client-notification">-->
                                        <!--<img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar"-->
                                             <!--style="">-->
                                            <!--<p>David Becham</p>-->
                                        <!--<div class="feed-content-menu float-right" id=""-->
                                             <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</div>-->
                                    <!--</div>-->
                                 <!--</span>-->
                            <!--</div>-->
                            <!--<div class="feed-content-menu-drp-dwn d-none" id="feed-content-menu-drp-dwn"-->
                                 <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item" href="#">Action</a>-->
                                <!--<a class="dropdown-item" href="#">Another action</a>-->
                                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="feed-body-content">-->
                            <!--<p class="feed-body-header">Just Now</p>-->
                            <!--<div class="row">-->
                                <!--<span class="col-md-3" style="padding-right: 0"><img src="atb-logo.png"></span>-->
                                <!--<span class="col-md-9" style="padding-left: 10px;font-size: 14px"> Rawdenim youprobably haven't heard of them jean shorts Austin.-->
                                    <!--<div class="client-notification">-->
                                        <!--<img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar"-->
                                             <!--style="">-->
                                            <!--<p>David Becham</p>-->
                                        <!--<div class="feed-content-menu float-right" id=""-->
                                             <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</div>-->
                                    <!--</div>-->
                                 <!--</span>-->
                            <!--</div>-->
                            <!--<div class="feed-content-menu-drp-dwn d-none" id="feed-content-menu-drp-dwn"-->
                                 <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item" href="#">Action</a>-->
                                <!--<a class="dropdown-item" href="#">Another action</a>-->
                                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="feed-body-content">-->
                            <!--<p class="feed-body-header">Just Now</p>-->
                            <!--<div class="row">-->
                                <!--<span class="col-md-3" style="padding-right: 0"><img src="atb-logo.png"></span>-->
                                <!--<span class="col-md-9" style="padding-left: 10px;font-size: 14px"> Rawdenim youprobably haven't heard of them jean shorts Austin.-->
                                    <!--<div class="client-notification">-->
                                        <!--<img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar"-->
                                             <!--style="">-->
                                            <!--<p>David Becham</p>-->
                                        <!--<div class="feed-content-menu float-right" id=""-->
                                             <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</div>-->
                                    <!--</div>-->
                                 <!--</span>-->
                            <!--</div>-->
                            <!--<div class="feed-content-menu-drp-dwn d-none" id="feed-content-menu-drp-dwn"-->
                                 <!--aria-labelledby="dropdownMenuButton">-->
                                <!--<a class="dropdown-item" href="#">Action</a>-->
                                <!--<a class="dropdown-item" href="#">Another action</a>-->
                                <!--<a class="dropdown-item" href="#">Something else here</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        </div>
                    </div>
                </div>
                <hr class="divider">
            </div>
        </div>
    </div>
</div>


<!--Message side panel-->
<div class="notification-pane d-none" id="message-pane">
    <button type="button" class="close" data-dismiss="dropdown" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <div class="row" style="margin-right: 0; float: right;">
        <div class="col-md-12">
            <div class="feeds notification-pane-content">
                <div class="feed-header">
                    <h4>Messages</h4>
                    <div class="row">
                        <div class="col-md-9">
                            <h6 style="margin-top: 15px; color: #878787;">You have a new message</h6>
                        </div>
                        <div class="col-md-3" style="padding-top: 8px;">
                            <button class="btn refresh-btn">Refresh</button>
                        </div>

                    </div>

                </div>
                <hr class="divider">
                <div class="tab-content " id=""
                     style="padding: 10px 15px;">
                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <div class="feed-body-content">
                            <p class="feed-body-header">Just Now</p>
                            <div class="row">
                                <span class="col-md-3" style="padding-right: 0"><img src="atb-logo.png"></span>
                                <span class="col-md-9" style="padding-left: 10px;font-size: 14px"> Rawdenim youprobably haven't heard of them jean shorts Austin.
                                    <div class="client-notification">
                                        <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar"
                                             style="">
                                            <p>David Becham</p>
                                        <div class="message-content-menu float-right" id=""
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</div>
                                    </div>
                                 </span>
                            </div>
                            <div class="feed-content-menu-drp-dwn d-none" id="message-content-menu-drp-dwn"
                                 aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <div class="feed-body-content">
                            <p class="feed-body-header">Just Now</p>
                            <div class="row">
                                <span class="col-md-3" style="padding-right: 0"><img src="atb-logo.png"></span>
                                <span class="col-md-9" style="padding-left: 10px;font-size: 14px"> Rawdenim youprobably haven't heard of them jean shorts Austin.
                                    <div class="client-notification">
                                        <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar"
                                             style="">
                                            <p>David Becham</p>
                                        <div class="message-content-menu float-right" id=""
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</div>
                                    </div>
                                 </span>
                            </div>
                            <div class="feed-content-menu-drp-dwn d-none" id="feed-content-menu-drp-dwn"
                                 aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <div class="feed-body-content">
                            <p class="feed-body-header">Just Now</p>
                            <div class="row">
                                <span class="col-md-3" style="padding-right: 0"><img src="atb-logo.png"></span>
                                <span class="col-md-9" style="padding-left: 10px;font-size: 14px"> Rawdenim youprobably haven't heard of them jean shorts Austin.
                                    <div class="client-notification">
                                        <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar"
                                             style="">
                                            <p>David Becham</p>
                                        <div class="message-content-menu float-right" id=""
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</div>
                                    </div>
                                 </span>
                            </div>
                            <div class="feed-content-menu-drp-dwn d-none" id="feed-content-menu-drp-dwn"
                                 aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider">
            </div>
        </div>
    </div>
</div>