<nav class="navbar navbar-expand-sm navbar-default">
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/dashboard">Loanratus</a>
        <a class="navbar-brand hidden" href="/dashboard">LR</a>
    </div>
    <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul id="sidebar" class="nav navbar-nav"></ul>
    </div>
</nav>