<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loanratus Admin</title>
    <meta name="description" content="Loanratus Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">
    <link rel="stylesheet" href="assets/css/lib/chosen/chosen.min.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <style type="text/css">
        .select2-container{
            width: 91% !important;
        }
        .select2-selection{
            height: 100% !important;
            border: 1px solid #ced4da !important;
            border-radius: .25rem !important;
            color: #495057 !important;
        }
        input.invalid, span.invalid {
            border: 2px dashed red;
        }
    </style>
    <script>
        $(function () {
            // when the modal is closed
            $('#myModal').on('hidden.bs.modal', function () {
                // remove the bs.modal data attribute from it
                $(this).removeData('bs.modal');
                // and empty the modal-content element
                $('#myModal .modal-content span').empty();
                $('#myModal .modal-footer span').empty();
                $('#myModal input').val("");
            });
        });
    </script>
</head>
<body>
        <!-- Left Panel -->
        <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($){ check(); loadMenus(); read_write();});
        </script>

        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">

                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/dashboard">Loanratus</a>
                    <a class="navbar-brand hidden" href="/dashboard">35</a>
                </div>

                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul id="sidebar" class="nav navbar-nav"></ul>
                </div>
            </nav>
        </aside><!-- /#left-panel -->

        <!-- Left Panel -->

        <!-- Right Panel -->

        <div id="right-panel" class="right-panel">

            <!-- Header-->
            <header id="header" class="header">

                <div class="header-menu">

                    <div class="col-sm-7">
                        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                        <div class="header-left">
                            <!--<button class="search-trigger"><i class="fa fa-search"></i></button>-->
                            <!--<div class="form-inline">-->
                            <!--<form class="search-form">-->
                            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">-->
                            <!--<button class="search-close" type="submit"><i class="fa fa-close"></i></button>-->
                            <!--</form>-->
                            <!--</div>-->

                            <!-- <div class="dropdown for-notification">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                              </div>
                            </div> -->

                            <!-- <div class="dropdown for-message">
                              <button class="btn btn-secondary dropdown-toggle" type="button"
                                    id="message"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-email"></i>
                                <span class="count bg-primary">9</span>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                    <span class="message media-body">
                                        <span class="name float-left">Jonathan Smith</span>
                                        <span class="time float-right">Just now</span>
                                            <p>Hello, this is an example msg</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                    <span class="message media-body">
                                        <span class="name float-left">Jack Sanders</span>
                                        <span class="time float-right">5 minutes ago</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                    <span class="message media-body">
                                        <span class="name float-left">Cheryl Wheeler</span>
                                        <span class="time float-right">10 minutes ago</span>
                                            <p>Hello, this is an example msg</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-3" href="#">
                                    <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                    <span class="message media-body">
                                        <span class="name float-left">Rachel Santos</span>
                                        <span class="time float-right">15 minutes ago</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </span>
                                </a>
                              </div>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="user-area dropdown float-right">
                            <strong id="user" style="margin-right:10px; vertical-align: sub"></strong>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                            </a>

                            <div class="user-menu dropdown-menu">
                                <!-- <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                                <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a> -->

                                <a class="nav-link pull-right" href="#" onclick="logout()"><i class="fa fa-power-off"></i> Logout</a>
                                <script type="text/javascript">
                                    function logout() {
                                        localStorage.login = "0";
                                        window.location.href = "/logout";
                                    }
                                </script>
                            </div>
                        </div>

                        <!-- <div class="language-select dropdown" id="language-select">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                                <i class="flag-icon flag-icon-us"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="language" >
                                <div class="dropdown-item">
                                    <span class="flag-icon flag-icon-fr"></span>
                                </div>
                                <div class="dropdown-item">
                                    <i class="flag-icon flag-icon-es"></i>
                                </div>
                                <div class="dropdown-item">
                                    <i class="flag-icon flag-icon-us"></i>
                                </div>
                                <div class="dropdown-item">
                                    <i class="flag-icon flag-icon-it"></i>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>

            </header><!-- /header -->
            <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Add New User/Team</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Users</a></li>
                            <li class="active">New User/Team</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <strong>Add User/Team Data</strong> <small> User/Team Information</small>
                    </div>
                    <div class="card-body card-block">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#user_tab" role="tab" data-toggle="tab">User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#team_tab" role="tab" data-toggle="tab">Team</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active show in" id="user_tab">
                                <div id="user-form" class="col-xs-12 col-sm-12">
                                    <div style="margin-top: 15px;">
                                        <div class="form-group col-lg-6">
                                            <label class="form-control-label">Full Name</label><strong style="color:red"> *</strong><span id="fullname-error" style="padding-left:50px; text-align: center"></span>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                <input id="fullname" class="form-control" required="required">
                                            </div>
                                            <small class="form-text text-muted">ex. user123</small>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="form-control-label">Email </label><strong style="color:red"> *</strong><span id="email-error" style="padding-left:50px; text-align: center"></span>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-male"></i></div>
                                                <input type="email" id="email" class="form-control" required="required">
                                            </div>
                                            <small class="form-text text-muted">ex. email@email.com</small>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="form-control-label">Password</label><strong style="color:red"> *</strong><span id="password-error" style="padding-left:50px; text-align: center"></span>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                                                <input id="password" type="password" class="form-control" required="required">
                                            </div>
                                            <small class="form-text text-muted">ex. qwerty_*123</small>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="form-control-label">Confirm Password</label><strong style="color:red"> *</strong><span id="cpassword-error" style="padding-left:50px; text-align: center"></span>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                                                <input id="cpassword" type="password" class="form-control" required="required">
                                            </div>
                                            <small class="form-text text-muted">ex. qwerty_*123</small>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="form-control-label">User Role</label>
                                            <strong style="color:red"> *</strong>
                                            <span id="role_error" style="padding-left:50px; text-align: center"></span>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                <select id="role" class="form-control" required="required">
                                                    <option selected="selected" id="0">-- Choose User Role --</option>
                                                </select><input type="button" class="btn btn-dark write" data-toggle="modal" data-target="#myModal" value="New Role"/>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="form-control-label">Branch</label>
                                            <strong style="color:red"> *</strong>
                                            <span id="branch_error" style="padding-left:50px; text-align: center"></span>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-building"></i></div>
                                                <select id="branch" class="form-control" required="required">
                                                    <option selected="selected" id="0">-- Select a branch --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="form-control-label">Supervisor</label>
                                            <strong style="color:red"> *</strong>
                                            <span id="supervisor_error" style="padding-left:50px; text-align: center"></span>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                <select id="supervisor" class="form-control" required="required">
                                                    <option selected="selected">-- Choose Supervisor --</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="form-control-label">Loan Officer</label>
                                            <span id="loan_officer_status_error" style="padding-left:50px; text-align: center"></span>
                                            <div class="input-group">
                                                <input id="loan_officer_status" type="checkbox" style="margin: 7px 7px 0 0" />
                                                Check this box if the user is a loan officer
                                                <small class="form-text text-muted">Client(s) and Target(s) can be assigned to this user</small>
                                            </div>
                                        </div>
                                        <!--<div class="form-group col-lg-6">-->
                                            <!--<label class="form-control-label">-->
                                                <!--<i class="fa fa-cloud-upload"></i> Upload User Image-->
                                            <!--</label>-->
                                            <!--<div class="input-group">-->
                                                <!--<input id="file-upload" class="image admin-img " type="file" tabindex="6">-->
                                                <!--<label id="path"></label><br>-->
                                                <!--<small>Image must be JPG/JPEG or PNG format, maximum 2MB</small>-->

                                            <!--</div>-->
                                        <!--</div>-->
                                        <div class ="form-group col-lg-12">
                                            <input id="addUser" type="submit" class="btn btn-success btn-flat m-b-30 m-t-30 write" value="Add New User"/><span id="submit-error" style="padding-left:50px; text-align: center"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="team_tab">
                                <div style="margin-top: 15px;">
                                    <div class="form-group col-lg-6">
                                        <label class="form-control-label">Team Name</label><strong style="color:red"> *</strong><span id="team_name-error" style="padding-left:50px; text-align: center"></span>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input id="team_name" class="form-control" required="required">
                                        </div>
                                        <small class="form-text text-muted">ex. Team123</small>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-control-label">Supervisor</label><strong style="color:red"> *</strong><span id="team_supervisor_error" style="padding-left:50px; text-align: center"></span>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <select id="team_supervisor" class="form-control" required="required">
                                                <option selected="selected">-- Choose Supervisor --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class ="form-group col-lg-12">
                                        <input onclick="createTeam()" type="submit" class="btn btn-success btn-flat m-b-30 m-t-30 write" value="Add New Team"/><span id="submit-error" style="padding-left:50px; text-align: center"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
            <div id="wait" style=";width:150px;height:100px;position:fixed;top:50%;left:50%;padding:2px;z-index:99999;"><img src='spinner.gif' width="100" height="100" style="background-color: transparent"/></div>
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Add New Role</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <strong><label class="form-control-label">Role Name</label></strong><strong style="color:red"> *</strong><span id="role-error" style="padding-left:50px; text-align: center"></span>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input id="new-role" type="text" class="form-control" required="required">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span id="submit-role-error" style="padding-left:50px; text-align: center"></span><button type="button" class="btn btn-primary pull-right" onclick="validateRole()"><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/lib/chosen/chosen.jquery.min.js"></script>

    <script>
        jQuery(document).ready(function() {
            getRoles();
            getUsers();
            getBranches();
        });

        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });

        $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
        });

        function check(){
            if (localStorage.getItem('role') !== 1){
                jQuery('#car-models').hide();
                jQuery('#new-user').hide();
                jQuery('#models-card').hide();
                jQuery('#user').html(localStorage.getItem("name"));
            }
            else{
                jQuery('#user').html(localStorage.getItem("name"));
            }
        }

        function loadMenus(){
            let modules = {};
            modules = JSON.parse(localStorage.getItem("modules"));
            modules.forEach(function(k, v){
                if (k.menu_name === 'Sub Menu'){
                    let main = $.grep(modules, function(e){return e.id === parseInt(k.main_menu);});
                    $('#'+$(main[0]['module_tag']).attr('id') + ' > .sub-menu').append(k.module_tag);
                }else if(k.menu_name === 'Main Menu'){
                    $('#sidebar').append(k.module_tag);
                    $('#'+$(k.module_tag).attr('id')).append('<ul class="sub-menu children dropdown-menu"></ul>');
                }else{
                    $('#'+k.module_name).show();
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-requests",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#requests-badge').html(v.requests);
                    });
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-applications",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#applications-badge').html(v.applications);
                    });
                }
            });
        }

        function read_write(){
            let w;
            var perms = JSON.parse(localStorage.getItem("permissions"));
            var page = (window.location.pathname.split('/')[1].split('.'))[0];
            perms.forEach(function (k,v){
                if (k.module_name === page){
                    w = $.grep(perms, function(e){return e.id === parseInt(k.id);});
                }
            });
            if (w && w[0] && (parseInt(w[0]['editable']) !== 1)){
                $(".write").hide();
            }
        }

        $("#addUser").click(function () {
            validate();
        });

        $("#cpassword").change(function(){
            confirmPassword();
        });

        function confirmPassword(){
            if ($('#cpassword').val() == "" || $('#cpassword').val() != $('#password').val()){
                $('#cpassword').css('border-color', 'red');
                $('#cpassword-error').html("Passwords don't match");
                $('#cpassword-error').css("color", 'red');
                $('#addUser').attr('disabled', true);
            }
            else{
                $('#cpassword').css('border-color', 'green');
                $('#cpassword-error').html("Passwords are a match!");
                $('#cpassword-error').css("color", 'green');
                $('#addUser').attr('disabled', false);
            }
        }

        function validate(){
            if ($('#fullname').val() == "" || $('#fullname').val() == null)
                return swal('Kindly enter a valid fullname','','warning');
            if ($('#email').val() == "" || $('#email').val() == null)
                return swal('Kindly enter the an email address for the user','','warning');
            if (validateEmail($('#email').val()) === false)
                return swal('Kindly enter a valid email address','','warning');
            if ($('#password').val() == "" || $('#password').val() == null)
                return swal('Kindly type in a password','','warning');
            if ($('#role').find('option:selected').attr('id') == 0)
                return swal('Kindly select a role for this user','','warning');
            if ($('#branch').val() === '-- Select a Branch --')
                return swal('Kindly choose a branch','','warning');
            if ($('#supervisor').val() === '-- Choose Supervisor --')
                return swal('Kindly select a supervisor','','warning');
            createUser();
        }

        function getRoles(){
            $.ajax({
                type: "GET",
                url: "/user/user-roles",
                success: function (response) {
                    var role = $("[id=role]");
                     role.empty().append('<option selected="selected" id="0">-- Choose User Role --</option>');
                    $.each(JSON.parse(response), function (key, val) {
                        $("#role").append('<option class="deptSp" value = "' + val.id + '" id="' + val.id + '">' + val.role_name + '</option>');
                    });
                }
            });
        }

        function getUsers(){
            $.ajax({
                type: "GET",
                url: "/user/users-list",
                success: function (response) {
                    $.each(JSON.parse(response), function (key, val) {
                        $("#supervisor").append('<option value = "' + val.ID + '">' + val.fullname + '</option>');
                        $("#team_supervisor").append('<option value = "' + val.ID + '">' + val.fullname + '</option>');
                    });
                    $("#supervisor").select2();
                    $("#team_supervisor").select2();
                }
            });
        }
        
        function createUser(){
            let obj = {},
                test = {};
            obj.username = $('#email').val();
            obj.password = $('#password').val();
            obj.fullname = $('#fullname').val();
            obj.email = $('#email').val();
            obj.user_role = $('#role').find('option:selected').attr('id');
            obj.branch = $('#branch').find('option:selected').attr('id');
            obj.supervisor = $('#supervisor').val();
            if (obj.supervisor === '-- Choose Supervisor --')
                return swal('Kindly select a supervisor','','warning');
            if ($('#loan_officer_status').is(':checked'))
                obj.loan_officer_status = 1;
            $('#wait').show();
            $.ajax({
                'url': '/user/new-user',
                'type': 'post',
                'data': obj,
                'success': function (data) {
                    $('#wait').hide();
                    $.each(JSON.parse(data), function (key, val) {
                        test[key] = val;
                    });
                    if(test.message){
                        swal("Username already exists!","","error");
                    }
                    else if(test.status === 500){
                        swal("Failed!","Unable to submit","error");
                    }
                    else{
                        swal("User Registered!","","success");
                        $('#email').val('');
                        $('#password').val('');
                        $('#fullname').val('');
                        $('#email').val('');
                        $('#role').val(0);
                        $('#branch').val(0);
                        $('#supervisor').val(0);
                        window.location.href = "/all-users";
                    }
                }
            });
        }

        function createTeam(){
            let obj = {};
            obj.name = $('#team_name').val();
            obj.supervisor = $('#team_supervisor').val();
            if (!obj.name || obj.supervisor === '-- Choose Supervisor --')
                return swal('Kindly fill all required field(s)','','warning');
            $('#wait').show();
            $.ajax({
                'url': '/user/new-team',
                'type': 'post',
                'data': obj,
                'success': function (response) {
                    $('#wait').hide();
                    if(response.status === 500){
                        swal(response.error,"","error");
                    } else{
                        $('#team_name').val('');
                        $('#team_supervisor').val('-- Choose Supervisor --').trigger('change');
                        swal("Team Registered!","","success");
                        window.location.href = "/all-teams";
                    }
                }
            });
        }

        function validateRole(){
            if ($('#new-role').val() == "" || $('#new-role').val() == null){
                return swal('', 'Enter a valid role name.', 'warning')
            }else{
                saveNewRole();
            }
        }

        function saveNewRole(){
            let obj = {},
                test = {};
            obj.role = $('#new-role').val();
            $.ajax({
                'url': '/user/new-role/',
                'type': 'post',
                'data': obj,
                'success': function (data) {
                    $.each(JSON.parse(data), function (key, val) {
                        test[key] = val;
                    });
                    if(test.message){
                        $('#role').val("");
                        swal("Role already exists!","","error");
                    }
                    else if(test.status === 500){
                        $('#role').val("");
                        swal("Please recheck entered values!","","error");
                    }
                    else
                    {$('#role').val(""); swal("New Role Registered!","","success"); getRoles();}
                }
            });
        }

        function getBranches(){
            $.ajax({
                type: "GET",
                url: "/user/branches",
                success: function (response) {
                    var branch = $("[id=branch]");
                    branch.empty().append('<option selected="selected" id="0">-- Select a Branch --</option>');
                    $.each(JSON.parse(response), function (key, val) {
                        $("#branch").append('<option value = "' + val.id + '" id="' + val.id + '">' + val.branch_name + '</option>');
                    });
                }
            });
        }

        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

    </script>

</body>
</html>
