<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loan35 Admin</title>
    <meta name="description" content="Loan35 Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">
    <link rel="stylesheet" href="assets/css/lib/chosen/chosen.min.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <style type="text/css">
        .select2-container{
            width: 92% !important;
        }
        .select2-selection{
            height: 100% !important;
            border: 1px solid #ced4da !important;
            border-radius: .25rem !important;
            color: #495057 !important;
        }
        input.invalid, span.invalid {
            border: 2px dashed red;
        }
    </style>
</head>
<body>
        <!-- Left Panel -->
        <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">

                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/dashboard">Loan 35</a>
                    <a class="navbar-brand hidden" href="/dashboard">35</a>
                </div>

                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul id="sidebar" class="nav navbar-nav">
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </aside><!-- /#left-panel -->

        <!-- Left Panel -->

        <!-- Right Panel -->

        <div id="right-panel" class="right-panel">

            <!-- Header-->
            <header id="header" class="header">

                <div class="header-menu">

                    <div class="col-sm-7">
                        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                        <div class="header-left">
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="user-area dropdown float-right">
                            <strong id="user" style="margin-right:10px; vertical-align: sub"></strong>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                            </a>

                            <div class="user-menu dropdown-menu">

                                <a class="nav-link pull-right" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>

            </header><!-- /header -->
            <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Add New Application</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Users</a></li>
                            <li class="active">New Application</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">

                <div class="row">

                    <div id="user-form" class="col-xs-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Add Application Data</strong> <small> Loan Information</small>
                            </div>
                            <div class="card-body card-block">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-form-label">Select Client <strong style="color:red"> *</strong></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                            <select id="user-list" class="form-control" required="required">
                                                <option selected="selected">-- Choose Client --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="col-form-label">Select Loan Process <strong style="color:red"> *</strong></label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-line-chart"></i></div>
                                            <select id="workflows" class="form-control" required="required">
                                                <option selected="selected">-- Choose Workflow --</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class=" form-control-label">Loan Requested</label><strong style="color:red"> *</strong><span id="amount-error" style="padding-left:50px; text-align: center"></span>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                            <input type="number" id="amount" class="form-control" required="required" value="50000" min="25000" max="250000">
                                        </div>
                                        <small class="form-text text-muted">Min: 25,000.00   Max: 250,000.00 (NGN)</small>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class=" form-control-label">Interest Rate</label><strong style="color:red"> *</strong><span id="interest-rate-error" style="padding-left:50px; text-align: center"></span>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-plus"></i></div>
                                            <input type="number" id="interest-rate" class="form-control" required="required" value="4" min="3" max="10">
                                        </div>
                                        <small class="form-text text-muted">Min: 3.0000%  Max: 10.0000% </small>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class=" form-control-label">Tenor (monthly)</label><strong style="color:red"> *</strong><span id="term-error" style="padding-left:50px; text-align: center"></span>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                            <input type="number" id="term" class="form-control" required="required" value="6" min="1" max="24">
                                        </div>
                                        <small class="form-text text-muted">Min: 1  Max: 24</small>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class=" form-control-label">First Repayment Date</label><span id="repayment-date-error" style="padding-left:50px; text-align: center"></span>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            <input type="date" id="repayment-date" class="form-control" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="file" id="csvUpload2" style="display: inline-block"/>
                                                <button id="uploadCSV2" class="btn btn-info">Add Schedule</button>
                                                <i id="csvLoader2" class="fa fa-spinner fa-spin" style="display: none;"></i>
                                            </div>
                                            <div class="col-sm-4">
                                                <a href="/Loan Schedule.csv" target="_blank" style="text-decoration: underline;">
                                                    Download Loan Schedule Template <i class="fa fa-cloud-download"></i></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div id="dvCSV2" style="margin: 30px 0;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <input id="addApplication" type="submit" class="btn btn-success btn-flat m-b-30 m-t-30 write" value="Add New Application"/><span id="submit-error" style="padding-left:50px; text-align: center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
            <div id="wait" style=";width:150px;height:100px;position:absolute;top:50%;left:50%;padding:2px;"><img src='spinner.gif' width="100" height="100" style="background-color: transparent"/></div>
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->


    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/lib/chosen/chosen.jquery.min.js"></script>

    <script>
    (function( $ ) {
        jQuery(document).ready(function() {
            initCSVUpload2();
            getWorkflows();
            getUsers();
            check();
            loadMenus();
            read_write();
        });

        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });

        $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
        });

        function check(){
            if (localStorage.getItem('role') !== 1){
                jQuery('#car-models').hide();
                jQuery('#new-user').hide();
                jQuery('#models-card').hide();
                jQuery('#user').html(localStorage.getItem("name"));
            }
            else{
                jQuery('#user').html(localStorage.getItem("name"));
            }
        }

        function loadMenus(){
            let modules = {};
            modules = JSON.parse(localStorage.getItem("modules"));
            modules.forEach(function(k, v){
                if (k.menu_name === 'Sub Menu'){
                    let main = $.grep(modules, function(e){return e.id === parseInt(k.main_menu);});
                    $('#'+$(main[0]['module_tag']).attr('id') + ' > .sub-menu').append(k.module_tag);
                }else if(k.menu_name === 'Main Menu'){
                    $('#sidebar').append(k.module_tag);
                    $('#'+$(k.module_tag).attr('id')).append('<ul class="sub-menu children dropdown-menu"></ul>');
                }else{
                    $('#'+k.module_name).show();
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-requests",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#requests-badge').html(v.requests);
                    });
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-applications",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#applications-badge').html(v.applications);
                    });
                }
            });
        }

        function read_write(){
            let w;
            var perms = JSON.parse(localStorage.getItem("permissions"));
            var page = (window.location.pathname.split('/')[1].split('.'))[0];
            perms.forEach(function (k,v){
                if (k.module_name === page){
                    w = $.grep(perms, function(e){return e.id === parseInt(k.id);});
                }
            });
            if (w && w[0] && (parseInt(w[0]['editable']) !== 1)){
                $(".write").hide();
            }
        }

        function getUsers(){
            $.ajax({
                type: "GET",
                url: "/user/users-list-v2",
                success: function (response) {
                    $.each(JSON.parse(response), function (key, val) {
                        $("#user-list").append('<option value = "' + encodeURIComponent(JSON.stringify(val)) + '">' + val.fullname + ' &nbsp; (' + val.username + ')</option>');
                    });
                    $("#user-list").select2();
                }
            });
        }

        function getWorkflows(){
            $.ajax({
                type: "GET",
                url: "/workflows",
                success: function (response) {
                    $.each(response.response, function (key, val) {
                        $("#workflows").append('<option value = "'+val.ID+'"">'+val.name+'</option>');
                    });
                }
            });
        }


        function initCSVUpload2() {
            let schedule = [],
                loan_amount = 0,
                $dvCSV = $("#dvCSV2"),
                $csvUpload = $("#csvUpload2"),
                $uploadCSV = $("#uploadCSV2");

            $uploadCSV.bind("click", function () {
                let regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
                if (regex.test($csvUpload.val().toLowerCase())) {
                    if (typeof (FileReader) !== "undefined") {
                        let reader = new FileReader();
                        reader.onload = function (e) {
                            let table = $("<table border='1' style='text-align: center; width: 100%;'/>"),
                                rows = e.target.result.split("\n");
                            for (let i = 0; i < rows.length; i++) {
                                let invoice = {},
                                    row = $("<tr />"),
                                    cells = rows[i].split(",");
                                if (i === 0) {
                                    cells = ["PRINCIPAL","INTEREST","BALANCE"];
                                } else if (i === 1) {
                                    cells = ["INVOICE DATE","COLLECTION DATE","AMOUNT","INVOICE DATE","COLLECTION DATE","AMOUNT","AMOUNT"];
                                }
                                for (let j = 0; j < cells.length; j++) {
                                    let cell = $("<td />");
                                    if (i === 0){
                                        if ((cells[j] === "PRINCIPAL") || cells[j] === "INTEREST")
                                            cell = $("<td colspan='3' />");
                                    }
                                    if (cells[j]){
                                        if (i > 1){
                                            if (j === 0 || j === 1 || j === 3 || j === 4){
                                                cell.html('<input id="invoice-'+i+'-'+j+'" type="date" value="'+cells[j]+'" />');
                                            } else {
                                                cell.html('<span id="invoice-'+i+'-'+j+'">'+cells[j]+'</span>');
                                            }
                                        } else {
                                            cell.html(cells[j]);
                                        }
                                    }
                                    row.append(cell);
                                    switch (j){
                                        case 0:{ invoice.payment_create_date = cells[j]; break; }
                                        case 1:{ invoice.payment_collect_date = cells[j]; break; }
                                        case 2:{
                                            if (i > 1){
                                                console.log('cells '+parseFloat(cells[j]));
                                                loan_amount = (loan_amount + parseFloat(cells[j])).round(2);
                                                console.log('loan amount '+loan_amount);
                                            }
                                            invoice.payment_amount = cells[j];
                                            break;
                                        }
                                        case 3:{ invoice.interest_create_date = cells[j]; break; }
                                        case 4:{ invoice.interest_collect_date = cells[j]; break; }
                                        case 5:{ invoice.interest_amount = cells[j]; break; }
                                        case 6:{ invoice.balance = cells[j]; break; }
                                    }
                                }
                                if (i>1 && cells.length === 7)
                                    schedule.push(invoice);
                                table.append(row);
                            }
                            $dvCSV.html('');
                            $dvCSV.append(table);
                        };
                        reader.readAsText($csvUpload[0].files[0]);
                    } else {
                        return swal('This browser does not support HTML5.');
                    }
                } else {
                    return swal('Please select a valid CSV file.');
                }
            });

            $("#addApplication").click(function () {
                if (!schedule[0])
                    return swal('Please upload a valid CSV file.');

                validateSchedule(schedule, function (validation) {
                    if (validation.status){
                        let obj = {},
                            schedule = validation.data,
                            $user_list = $('#user-list'),
                            user = ($user_list.val() !== '-- Choose User --')? JSON.parse(decodeURIComponent($user_list.val())) : false;

                        obj.userID = user.ID;
                        obj.email = user.email;
                        obj.username = user.username;
                        obj.workflowID = $('#workflows').val();
                        obj.loan_amount = $('#amount').val();
                        obj.interest_rate = $('#interest-rate').val();
                        obj.duration = $('#term').val();
                        obj.disbursement_date = $('#disbursement-date').val();
                        obj.repayment_date = $('#repayment-date').val();
                        obj.agentID = (JSON.parse(localStorage.getItem("user_obj"))).ID;
                        if (!user || isNaN(obj.workflowID) || !obj.loan_amount || !obj.interest_rate || !obj.duration)
                            return swal('Kindly fill all required fields!');
                        if (loan_amount !== parseFloat(obj.loan_amount))
                            return swal('Loan amount ('+parseFloat(obj.loan_amount)+') and schedule ('+loan_amount+') mismatch');

                        $('#wait').show();
                        $.ajax({
                            'url': '/user/apply',
                            'type': 'post',
                            'data': obj,
                            'success': function (data) {
                                $('#user-list').val("");
                                $('#workflows').val("");
                                $('#amount').val("");
                                $('#interest-rate').val("");
                                $('#term').val("");
                                $('#disbursement-date').val("");
                                $('#repayment-date').val("");
                                uploadSchedule(schedule, data.response.ID);
                            },
                            'error': function (err) {
                                console.log(err);
                                $('#wait').hide();
                                swal('No internet connection');
                            }
                        });
                    } else {
                        console.log(validation.data);
                        swal('There are error(s) in the uploaded schedule!');
                    }
                });
            });
        }

        function uploadSchedule(schedule, application_id) {
            $.ajax({
                'url': '/user/application/schedule/'+application_id,
                'type': 'post',
                'data': {schedule:schedule},
                'success': function (data) {
                    $('#wait').hide();
                    swal('Loan Application created successfully!');
                    window.location.href = '/application?id='+application_id;
                },
                'error': function (err) {
                    $('#wait').hide();
                    swal('Oops! An error occurred while saving schedule');
                }
            });
        }

        function validateSchedule(schedule, callback) {
            let errors = [],
                validated_schedule = [];
            for (let i=0; i<schedule.length; i++){
                let invoice = {},
                    $col0 = $('#invoice-'+(i+2)+'-0'),
                    $col1 = $('#invoice-'+(i+2)+'-1'),
                    $col2 = $('#invoice-'+(i+2)+'-2'),
                    $col3 = $('#invoice-'+(i+2)+'-3'),
                    $col4 = $('#invoice-'+(i+2)+'-4'),
                    $col5 = $('#invoice-'+(i+2)+'-5'),
                    $col6 = $('#invoice-'+(i+2)+'-6'),
                    a = $col0.val(),
                    b = $col1.val(),
                    c = schedule[i]['payment_amount'],
                    d = $col3.val(),
                    e = $col4.val(),
                    f = schedule[i]['interest_amount'],
                    g = schedule[i]['balance'];
                if (isValidDate(a)){
                    $col0.removeClass('invalid');
                    invoice.payment_create_date = a;
                } else {
                    $col0.addClass('invalid');
                    errors.push(a+' is not a valid date');
                }
                if (isValidDate(b)){
                    $col1.removeClass('invalid');
                    invoice.payment_collect_date = b;
                } else {
                    $col1.addClass('invalid');
                    errors.push(b+' is not a valid date');
                }
                if (!isNaN(c)){
                    $col2.removeClass('invalid');
                    invoice.payment_amount = c;
                } else {
                    $col2.addClass('invalid');
                    errors.push(c+' is not a valid number');
                }
                if (isValidDate(d)){
                    $col3.removeClass('invalid');
                    invoice.interest_create_date = d;
                } else {
                    $col3.addClass('invalid');
                    errors.push(d+' is not a valid date');
                }
                if (isValidDate(e)){
                    $col4.removeClass('invalid');
                    invoice.interest_collect_date = e;
                } else {
                    $col4.addClass('invalid');
                    errors.push(e+' is not a valid date');
                }
                if (!isNaN(f)){
                    $col5.removeClass('invalid');
                    invoice.interest_amount = f;
                } else {
                    $col5.addClass('invalid');
                    errors.push(f+' is not a valid number');
                }
                if (!isNaN(g)){
                    $col6.removeClass('invalid');
                    invoice.balance = g;
                } else {
                    $col6.addClass('invalid');
                    errors.push(g+' is not a valid number');
                }
                validated_schedule.push(invoice);
            }
            if (errors[0]){
                callback({status: false, data: errors});
            } else {
                callback({status: true, data: validated_schedule});
            }
        }

        function isValidDate(dateString) {
            let regEx = /^\d{4}-\d{2}-\d{2}$/;
            if(!dateString || !dateString.match(regEx)) return false;
            let d = new Date(dateString);
            if(Number.isNaN(d.getTime())) return false;
            return d.toISOString().slice(0,10) === dateString;
        }

        Number.prototype.round = function(p) {
            p = p || 10;
            return parseFloat( this.toFixed(p) );
        };

    })(jQuery);
    </script>
</body>
</html>
