<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loan35 Admin</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <!-- Left Panel -->
        <script type="text/javascript">
            jQuery(document).ready(function($){ check(); });
        </script>

    <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">
    
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/dashboard">Loan 35</a>
                    <a class="navbar-brand hidden" href="/dashboard">35</a>
                </div>
    
                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li id="" class="active">
                            <a href="/dashboard"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                        </li>
                        
                        <li class="active">
                            <a href="/inspections"> <i class="menu-icon fa fa-dashboard"></i>Inspections </a>
                        </li>
    
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Vehicles</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-table"></i><a href="/all-vehicles">All Vehicles</a></li>
                                <li><i class="fa fa-table"></i><a href="/add-vehicle">Add Vehicles</a></li>
                            </ul>
                        </li>
    
                        <li id="car-models" class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Car Models</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-table"></i><a href="/all-models">All Models</a></li>
                                <li><i class="fa fa-table"></i><a href="/add-model">New Model</a></li>
                            </ul>
                        </li>
    
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Users</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-table"></i><a href="/all-users">All Users</a></li>
                                <li id="new-user"><i class="fa fa-table"></i><a href="/add-user">New User</a></li>
                                <li><i class="fa fa-table"></i><a href="/all-applications">All Applications</a></li>
                            </ul>
                        </li>
    
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Reports</a>
                            <ul class="sub-menu children dropdown-menu">
                                <!-- <li><i class="fa fa-table"></i><a href="#">Maintenance Report</a></li> -->
                                <li><i class="fa fa-table"></i><a href="/reports">Valuation Reports</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
    </aside><!-- /#left-panel -->
    
        <!-- Left Panel -->
    
        <!-- Right Panel -->
    
        <div id="right-panel" class="right-panel">
    
            <!-- Header-->
            <header id="header" class="header">
    
                <div class="header-menu">
    
                    <div class="col-sm-7">
                        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                        <div class="header-left">
                            <button class="search-trigger"><i class="fa fa-search"></i></button>
                            <div class="form-inline">
                                <form class="search-form">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                    <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-sm-5">
                        <div class="user-area dropdown float-right">
                            <strong id="user" style="margin-right:10px; vertical-align: sub"></strong>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                            </a>
    
                            <div class="user-menu dropdown-menu">
                                    <!-- <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>
    
                                    <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>
    
                                    <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a> -->
    
                                    <a class="nav-link pull-right" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                            </div>
                        </div>
    
                    </div>
                </div>
    
            </header><!-- /header -->
            <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>All Applications</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Users</a></li>
                            <li class="active">All Applications</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title" style="float: left;">All Applications</strong>
                            <form id="filter" class="form-inline" style="float: right;">
                                <div class="form-group">
                                    <label class="" for="startDate">Start date</label>
                                    <input type="date" class="form-control" id="startDate" placeholder="Start date">
                                </div>
                                <div class="form-group">
                                    <label class="" for="endDate">End date</label>
                                    <input type="date" class="form-control" id="endDate" placeholder="End date">
                                </div>
                                <button type="submit" class="btn btn-success">Filter</button>
                            </form>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                  <tr>
                                    <th>Full Name</th>
                                    <th>Phone Number</th>
                                    <th>Collateral</th>
                                    <th>Loan Amount</th>
                                    <th>Date Created</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody id="applications">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Application</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered">
                        <tbody id="application"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="archive()">Archive</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="viewCommentModal" tabindex="-1" role="dialog" aria-labelledby="viewCommentModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="viewCommentModalLabel">View Comment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered">
                        <tbody id="view_comment"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addCommentModalLabel">Post Comment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class=" form-control-label">Comment</label><strong style="color:red"> *</strong><span id="comment-error" style="padding-left:50px; text-align: center"></span>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-comment"></i></div>
                                <textarea id="comment" class="form-control" required="required" maxlength="250" placeholder="Brief message"></textarea>
                            </div>
                            <small class="form-text text-muted">Maximum of 250 characters</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="comment()">Save</button>
                </div>
            </div>
        </div>
    </div>


    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>


    <script src="assets/js/lib/data-table/datatables.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/jszip.min.js"></script>
    <script src="assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="assets/js/lib/data-table/datatables-init.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
          loadUsers();
        });
        
        function check(){
            jQuery.ajax({
                'url': '/check',
                'type': 'get',
                'data': {},
                'success': function (data) {
                    let num = 5;
                    var count = JSON.parse(data);
                    console.log(data);
                    // jQuery.each(count, function(k, v){
                    //     num = v.rand;
                    // });
                    if (data != 1){
                        jQuery('#car-models').hide();
                        jQuery('#new-user').hide();
                        jQuery('#models-card').hide();
                        jQuery('#user').html('ATB Admin');
                    }
                    else{ jQuery('#user').html('Super Admin'); }
                },
                'error': function (err) {
                    //alert ('Error');
                    console.log('Error');
                }
            });
        }


        let results;

        function loadUsers(){

            $.ajax({
                'url': '/user/applications',
                'type': 'get',
                'data': {},
                'success': function (data) {
                    var applications = data.response;
                    results = applications;
                    populateDataTable(applications);
                },
                'error': function (err) {
                    console.log('Error');
                }
            });

        }

        function populateDataTable(data) {
            console.log("populating data table...");
            $("#bootstrap-data-table").dataTable().fnClearTable();
            $.each(data, function(k, v){
                let table = [
                    v.fullname,
                    v.phone,
                    v.collateral,
                    v.loan_amount,
                    v.date_created,
                    '<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" onclick="openModal('+v.ID+')"><i class="fa fa-eye"></i> View More</button>'
                ];
                if (v.comment){
                    let view_comment_button = ' <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewCommentModal" onclick="openViewCommentModal('+v.ID+')"><i class="fa fa-eye"></i> View Comment</button>';
                    table[table.length-1] = table[table.length-1].concat(view_comment_button);
                } else {
                    let add_comment_button = ' <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCommentModal" onclick="openAddCommentModal('+v.ID+')"><i class="fa fa-plus"></i> Add Comment</button>';
                    table[table.length-1] = table[table.length-1].concat(add_comment_button);
                }
                $('#bootstrap-data-table').dataTable().fnAddData(table);
                $('#bootstrap-data-table').dataTable().fnSort([[4,'desc']]);
            });
        }

        function formatDate(timestamp) {
            timestamp = parseInt(timestamp);
            let date =  new Date(timestamp);
            return date.toLocaleString();
        }

        function openModal(id) {
            localStorage.setItem("application_id",id);
            let data = ($.grep(results, function(e){ return e.ID === id; }))[0],
                tbody = $("#application"),
                tr = "";
            tbody.empty();
            if (data.fullname)
                tr += "<tr><td>Fullname</td><td>"+data.fullname+"</td></tr>";
            if (data.phone)
                tr += "<tr><td>Phone Number</td><td>"+data.phone+"</td></tr>";
            if (data.email)
                tr += "<tr><td>Email</td><td>"+data.email+"</td></tr>";
            if (data.loan_amount)
                tr += "<tr><td>Loan Amount</td><td>"+data.loan_amount+"</td></tr>";
            if (data.collateral)
                tr += "<tr><td>Collateral</td><td>"+data.collateral+"</td></tr>";
            if (data.jewelry)
                tr += "<tr><td>Jewelry</td><td>"+data.jewelry+"</td></tr>";
            if (data.brand)
                tr += "<tr><td>Brand</td><td>"+data.brand+"</td></tr>";
            if (data.model)
                tr += "<tr><td>Model</td><td>"+data.model+"</td></tr>";
            if (data.year)
                tr += "<tr><td>Year</td><td>"+data.year+"</td></tr>";
            if (data.date_created)
                tr += "<tr><td>Date Created</td><td>"+formatDate(data.date_created)+"</td></tr>";
            tbody.html(tr);
        }

        function openViewCommentModal(id) {
            localStorage.setItem("application_id",id);
            let data = ($.grep(results, function(e){ return e.ID === id; }))[0],
                tbody = $("#view_comment"),
                tr = "";
            tbody.empty();
            if (data.comment)
                tr += "<tr><td>Comment</td></tr><tr><td>"+data.comment+"</td></tr>";
            tbody.html(tr);
        }

        function openAddCommentModal(id) {
            localStorage.setItem("application_id",id);
        }

        function archive(){
            $.ajax({
                'url': '/user/applications/delete/'+localStorage.getItem("application_id"),
                'type': 'get',
                'data': {},
                'success': function (data) {
                    let applications = data.response;
                    results = applications;
                    populateDataTable(applications);
                    swal('Application archived successfully');
                },
                'error': function (err) {
                    swal('Oops! An error occurred during archiving');
                }
            });
        }

        function comment(){
            let $comment = $("#comment"),
                comment = $comment.val();
            if (!comment || comment === ""){
                $comment.val("");
                return swal('Kindly type a brief comment');
            }
            $.ajax({
                'url': '/user/applications/comment/'+localStorage.getItem("application_id"),
                'type': 'post',
                'data': {comment: comment},
                'success': function (data) {
                    let applications = data.response;
                    results = applications;
                    populateDataTable(applications);
                    $comment.val("");
                    swal('Comment saved successfully');
                },
                'error': function (err) {
                    $comment.val("");
                    swal('Oops! An error occurred while saving comment');
                }
            });
        }

        $("#filter").submit(function (e) {
            e.preventDefault();

            let start = $("#startDate").val(),
                end = $("#endDate").val();
            if (!start || !end)
                return loadUsers();

            $.ajax({
                'url': '/user/applications/filter/'+formatDate(start)+'/'+formatDate(end),
                'type': 'get',
                'success': function (data) {
                    let applications = data.response;
                    results = applications;
                    populateDataTable(applications);
                },
                'error': function (err) {
                    console.log(err);
                }
            });
        });

        function formatDate(date) {
            let separator;
            if (date.indexOf('-') > -1){
                separator = '-';
            } else if (date.indexOf('/') > -1){
                separator = '/';
            } else {
                return date;
            }
            let date_array = date.split(separator);
            return date_array[0]+'-'+date_array[1]+'-'+date_array[2];
        }

    </script>


</body>
</html>
