<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loanratus Admin</title>
    <meta name="description" content="Loanratus Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    <style type="text/css">
        .badge {
            color: #ffffff;
            font-size: 15px;
        }
        .badge-success {
            background-color: #28a745;
        }
        .badge-danger {
            background-color: #dc3545;
        }
        .badge-warning {
            background-color: #f0ad4e;
        }
        .badge-info {
            background-color: #17a2b8;
        }
        .badge-primary {
            background-color: #007bff;
        }
    </style>
</head>
<body>
    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <!-- Left Panel -->
        <script type="text/javascript">
            jQuery(document).ready(function($){ check(); loadMenus(); read_write();});
        </script>

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/dashboard">Loanratus</a>
                <a class="navbar-brand hidden" href="/dashboard">35</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul id="sidebar" class="nav navbar-nav">
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <!--<button class="search-trigger"><i class="fa fa-search"></i></button>-->
                        <!--<div class="form-inline">-->
                        <!--<form class="search-form">-->
                        <!--<input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">-->
                        <!--<button class="search-close" type="submit"><i class="fa fa-close"></i></button>-->
                        <!--</form>-->
                        <!--</div>-->

                        <!-- <div class="dropdown for-notification">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">5</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                          </div>
                        </div> -->

                        <!-- <div class="dropdown for-message">
                          <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti-email"></i>
                            <span class="count bg-primary">9</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">You have 4 Mails</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                          </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <strong id="user" style="margin-right:10px; vertical-align: sub"></strong>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <!-- <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a> -->

                            <a class="nav-link pull-right" href="#" onclick="logout()"><i class="fa fa-power-off"></i> Logout</a>
                            <script type="text/javascript">
                                function logout() {
                                    localStorage.login = "0";
                                    window.location.href = "/logout";
                                }
                            </script>
                        </div>
                    </div>

                    <!-- <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language" >
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>All Applications</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Users</a></li>
                            <li class="active"><a href="/all-applications">All Applications</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title" style="float: left;">All Applications</strong>
                            <form id="filter" class="form-inline" style="float: right;">
                                <div class="form-group">
                                    <label class="" for="startDate">Start date</label>
                                    <input type="date" class="form-control" id="startDate" placeholder="Start date">
                                </div>
                                <div class="form-group">
                                    <label class="" for="endDate">End date</label>
                                    <input type="date" class="form-control" id="endDate" placeholder="End date">
                                </div>
                                <button type="submit" class="btn btn-success">Filter</button>
                            </form>
                            <select id="type-filter" onchange="filterType(this)" class="form-control" style="float: right; width:200px; margin: 0 5px;">
                                <option value="1" selected="selected">All</option>
                                <option value="2">Started</option>
                                <option value="3">Pending Approval</option>
                                <option value="4">Pending Disbursal</option>
                                <option value="5">Active</option>
                                <option value="6">Closed</option>
                            </select>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                  <tr>
                                      <th>Loan ID</th>
                                      <th>Full Name</th>
                                      <th>Phone Number</th>
                                      <th>Loan Amount</th>
                                      <th>Date Created</th>
                                      <th>Loan Status</th>
                                      <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody id="applications">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div><!-- .animated -->

            <div id="wait" style=";width:150px;height:100px;position:absolute;top:50%;left:50%;padding:2px;"><img src='spinner.gif' width="100" height="100" style="background-color: transparent"/></div>
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Application</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered">
                        <tbody id="application"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary write" data-dismiss="modal" onclick="archive()">Archive</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addCommentModalLabel">Post Comment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class=" form-control-label">Comment</label><strong style="color:red"> *</strong><span id="comment-error" style="padding-left:50px; text-align: center"></span>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-comment"></i></div>
                                <textarea id="comment" class="form-control" required="required" maxlength="250" placeholder="Brief message"></textarea>
                            </div>
                            <small class="form-text text-muted">Maximum of 250 characters</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary write" data-dismiss="modal" onclick="comment()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="viewCommentModal" tabindex="-1" role="dialog" aria-labelledby="viewCommentModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="viewCommentModalLabel">View Comment</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-bordered">
                        <tbody id="view_comment"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addWorkflowModal" tabindex="-1" role="dialog" aria-labelledby="addWorkflowModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addWorkflowModalLabel">Assign Workflow</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class=" form-control-label">Select Workflow</label><strong style="color:red"> *</strong><span id="workflow-error" style="padding-left:50px; text-align: center"></span>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-chain"></i></div>
                                <select id="workflows" class="form-control" required="required">
                                    <option selected="selected">-- Choose Workflow Process --</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary write" data-dismiss="modal" onclick="comment()">Save</button>
                </div>
            </div>
        </div>
    </div>


    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>


    <script src="assets/js/lib/data-table/datatables.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/jszip.min.js"></script>
    <script src="assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="assets/js/lib/data-table/datatables-init.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
          getWorkflows();
          loadUsers();
          read_write();
        });

        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });

        $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
        });

        function check(){
            if (localStorage.getItem('role') !== 1){
                jQuery('#car-models').hide();
                jQuery('#new-user').hide();
                jQuery('#models-card').hide();
                jQuery('#user').html(localStorage.getItem("name"));
            }
            else{
                jQuery('#user').html(localStorage.getItem("name"));
            }
        }

        function loadMenus(){
            let modules = {};
            modules = JSON.parse(localStorage.getItem("modules"));
            modules.forEach(function(k, v){
                if (k.menu_name === 'Sub Menu'){
                    let main = $.grep(modules, function(e){return e.id === parseInt(k.main_menu);});
                    $('#'+$(main[0]['module_tag']).attr('id') + ' > .sub-menu').append(k.module_tag);
                }else if(k.menu_name === 'Main Menu'){
                    $('#sidebar').append(k.module_tag);
                    $('#'+$(k.module_tag).attr('id')).append('<ul class="sub-menu children dropdown-menu"></ul>');
                }else{
                    $('#'+k.module_name).show();
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-requests",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#requests-badge').html(v.requests);
                    });
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-applications",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#applications-badge').html(v.applications);
                    });
                }
            });
        }

        function read_write(){
            let w;
            var perms = JSON.parse(localStorage.getItem("permissions"));
            var page = (window.location.pathname.split('/')[1].split('.'))[0];
            perms.forEach(function (k,v){
                if (k.module_name === page){
                    w = $.grep(perms, function(e){return e.id === parseInt(k.id);});
                }
            });
            if (w && w[0] && (parseInt(w[0]['editable']) !== 1)){
                $(".write").hide();
            }
        }

        let results;

        function loadUsers(){
            $.ajax({
                'url': '/user/applications',
                'type': 'get',
                'success': function (data) {
                    var applications = data.response;
                    results = applications;
                    populateDataTable(applications);
                },
                'error': function (err) {
                    console.log('Error');
                }
            });
        }

        function getWorkflows(){
            $.ajax({
                type: "GET",
                url: "/workflows",
                success: function (response) {
                    localStorage.setItem("workflows",JSON.stringify(response.response));
                    $.each(response.response, function (key, val) {
                        $("#workflows").append('<option class="deptSp" value = "'+val.ID+'"">'+val.name+'</option>');
                    });
                }
            });
        }

        function populateDataTable(data) {
            console.log("populating data table...");
            $("#bootstrap-data-table").dataTable().fnClearTable();
            $.each(data, function(k, v){
                let table = [
                    padWithZeroes(v.ID,9),
                    v.fullname,
                    v.phone,
                    v.loan_amount,
                    v.date_created,
                    v.current_stage,
                    '<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" onclick="openModal('+v.ID+')"><i class="fa fa-eye"></i> View Client</button>'
                ];
                if (v.close_status === 0) {
                    if (v.status === 1){
                        switch (v.current_stage){
                            case 2: {
                                table[5] = '<span class="badge badge-info">Pending Approval</span>';
                                break;
                            }
                            case 3: {
                                table[5] = '<span class="badge badge-info">Pending Disbursal</span>';
                                break;
                            }
                            default: {
                                table[5] = '<span class="badge badge-primary">Started</span>';
                            }
                        }
                    } else if (v.status === 2){
                        table[5] = '<span class="badge badge-success">Active</span>';
                    } else {
                        table[5] = '<span class="badge badge-danger">Not Active</span>';
                    }
                } else{
                    table[5] = '<span class="badge badge-warning">Closed</span>';
                }
                if (v.comment){
                    let view_comment_button = ' <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewCommentModal" onclick="openViewCommentModal('+v.ID+')"><i class="fa fa-eye"></i> View Comment</button>';
                    table[table.length-1] = table[table.length-1].concat(view_comment_button);
                } else {
                    let add_comment_button = ' <button type="button" class="btn btn-success write" data-toggle="modal" data-target="#addCommentModal" onclick="openAddCommentModal('+v.ID+')"><i class="fa fa-plus"></i> Add Comment</button>';
                    table[table.length-1] = table[table.length-1].concat(add_comment_button);
                }
                if (v.workflowID){
                    let view_workflow_button;
                    if (v.status === 2){
                        view_workflow_button = ' <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#viewWorkflowModal" onclick="openViewWorkflowModal('+v.ID+')"><i class="fa fa-eye"></i> View Loan</button>';
                    } else {
                        view_workflow_button = ' <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#viewWorkflowModal" onclick="openViewWorkflowModal('+v.ID+')"><i class="fa fa-eye"></i> View Application</button>';
                    }
                    table[table.length-1] = table[table.length-1].concat(view_workflow_button);
                } else {
                    let add_workflow_button = ' <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addWorkflowModal" onclick="openAddWorkflowModal('+v.ID+')"><i class="fa fa-plus"></i> Assign Loan Process</button>';
                    table[table.length-1] = table[table.length-1].concat(add_workflow_button);
                }
                $('#bootstrap-data-table').dataTable().fnAddData(table);
                $('#bootstrap-data-table').dataTable().fnSort([[4,'desc']]);
            });
        }

        function padWithZeroes(n, width, z) {
            z = z || '0';
            n = n + '';
            return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
        }

        function openModal(id) {
            localStorage.setItem("application_id",id);
            let data = ($.grep(results, function(e){ return e.ID === id; }))[0],
                tbody = $("#application"),
                tr = "";
            tbody.empty();
            if (data.fullname)
                tr += "<tr><td>Fullname</td><td>"+data.fullname+"</td></tr>";
            if (data.phone)
                tr += "<tr><td>Phone Number</td><td>"+data.phone+"</td></tr>";
            if (data.email)
                tr += "<tr><td>Email</td><td>"+data.email+"</td></tr>";
            if (data.loan_amount)
                tr += "<tr><td>Loan Amount</td><td>"+data.loan_amount+"</td></tr>";
            if (data.collateral)
                tr += "<tr><td>Collateral</td><td>"+data.collateral+"</td></tr>";
            if (data.jewelry)
                tr += "<tr><td>Jewelry</td><td>"+data.jewelry+"</td></tr>";
            if (data.brand)
                tr += "<tr><td>Brand</td><td>"+data.brand+"</td></tr>";
            if (data.model)
                tr += "<tr><td>Model</td><td>"+data.model+"</td></tr>";
            if (data.year)
                tr += "<tr><td>Year</td><td>"+data.year+"</td></tr>";
            if (data.date_created)
                tr += "<tr><td>Date Created</td><td>"+formatDate(data.date_created)+"</td></tr>";
            tbody.html(tr);
        }

        function openViewCommentModal(id) {
            localStorage.setItem("application_id",id);
            let data = ($.grep(results, function(e){ return e.ID === id; }))[0],
                tbody = $("#view_comment"),
                tr = "";
            tbody.empty();
            if (data.comment)
                tr += "<tr><td>Comment</td></tr><tr><td>"+data.comment+"</td></tr>";
            tbody.html(tr);
        }

        function openAddCommentModal(id) {
            localStorage.setItem("application_id",id);
        }

        function openViewWorkflowModal(id) {
            window.location.href = "/application?id="+id;
        }

        function openAddWorkflowModal(id) {
            localStorage.setItem("application_id",id);
        }

        function archive(){
            $.ajax({
                'url': '/user/applications/delete/'+localStorage.getItem("application_id"),
                'type': 'get',
                'success': function (data) {
                    let applications = data.response;
                    results = applications;
                    populateDataTable(applications);
                    swal('Application archived successfully');
                },
                'error': function (err) {
                    swal('Oops! An error occurred during archiving');
                }
            });
        }

        function comment(){
            let $comment = $("#comment"),
                comment = $comment.val();
            if (!comment || comment === ""){
                $comment.val("");
                return swal('Kindly type a brief comment');
            }
            $.ajax({
                'url': '/user/applications/comment/'+localStorage.getItem("application_id"),
                'type': 'post',
                'data': {comment: comment},
                'success': function (data) {
                    let applications = data.response;
                    results = applications;
                    populateDataTable(applications);
                    $comment.val("");
                    swal('Comment saved successfully');
                },
                'error': function (err) {
                    $comment.val("");
                    swal('Oops! An error occurred while saving comment');
                }
            });
        }

        $("#filter").submit(function (e) {
            e.preventDefault();

            let start = $("#startDate").val(),
                end = $("#endDate").val(),
                type = $("#type-filter").val(),
                url = '/user/applications/filter?start='+formatDate(start)+'&&end='+formatDate(end);
            if (!start || !end)
                return loadUsers();
            if (type)
                url = url.concat('&&type='+type);

            $.ajax({
                'url': url,
                'type': 'get',
                'success': function (data) {
                    let applications = data.response;
                    results = applications;
                    populateDataTable(applications);
                },
                'error': function (err) {
                    console.log(err);
                }
            });
        });

        function filterType(type) {
            let start = $("#startDate").val(),
                end = $("#endDate").val(),
                url = '/user/applications/filter?';
            if (start && end)
                url = url.concat('start='+formatDate(start)+'&&end='+formatDate(end)+'&&');
            url = url.concat('type='+type.value);

            $.ajax({
                'url': url,
                'type': 'get',
                'success': function (data) {
                    let applications = data.response;
                    results = applications;
                    populateDataTable(applications);
                },
                'error': function (err) {
                    console.log(err);
                }
            });
        }

        function formatDate(date) {
            let separator;
            if (date.indexOf('-') > -1){
                separator = '-';
            } else if (date.indexOf('/') > -1){
                separator = '/';
            } else {
                return date;
            }
            let date_array = date.split(separator);
            return date_array[0]+'-'+date_array[1]+'-'+date_array[2];
        }

    </script>


</body>
</html>
