<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loan35 Admin</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
</head>
<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/dashboard">Loan 35</a>
                <a class="navbar-brand hidden" href="/dashboard">35</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul id="sidebar" class="nav navbar-nav">
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
</aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <strong id="user" style="margin-right:10px; vertical-align: sub"></strong>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                                <!-- <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                                <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a> -->

                                <a class="nav-link pull-right" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>All Loan Processes</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Users</a></li>
                            <li class="active">All Loan Processes</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title" style="float: left;">All Loan Processes</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                      <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Date Created</th>
                                        <th>Action</th>
                                      </tr>
                                    </thead>
                                    <tbody id="processes">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title" style="float: left;">Manage Stages</strong>
                                <button style="float: right;" class="btn btn-info" data-toggle="modal" data-target="#addNewStageModal"><i class="fa fa-plus"></i> Add Stage</button>
                            </div>
                            <div class="card-body">
                                <table id="stages" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Modal -->
    <div class="modal fade" id="viewProcess" tabindex="-1" role="dialog" aria-labelledby="viewProcessLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="viewProcessLabel">Workflow Stages</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <table id="stages-table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="process">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addNewStageModal" tabindex="-1" role="dialog" aria-labelledby="addNewStageModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addNewStageModalLabel">Add Stage</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class=" form-control-label">Stage Name</label><strong style="color:red"> *</strong><span id="new-stage-name-error" style="padding-left:50px; text-align: center"></span>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-list"></i></div>
                                <input id="new-stage-name" type="text" class="form-control add-todo" placeholder="Stage Name" maxlength="50" required="required">
                            </div>
                            <small class="form-text text-muted">Maximum of 50 characters</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="addNewStage()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>


    <script src="assets/js/lib/data-table/datatables.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/jszip.min.js"></script>
    <script src="assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="assets/js/lib/data-table/datatables-init.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            check(); loadMenus();
            $('#bootstrap-data-table-export').DataTable();
            $('#stages').DataTable({"bFilter": false, "bInfo" : false});
            loadProcesses();
            getStages();
        });

        function check(){
            if (localStorage.getItem('role') != 1){
                jQuery('#car-models').hide();
                jQuery('#new-user').hide();
                jQuery('#models-card').hide();
                jQuery('#user').html(localStorage.getItem("name"));
            }
            else{
                jQuery('#user').html(localStorage.getItem("name"));
//                jQuery('#h-role').html(localStorage.getItem("user"));
            }
        }

        function loadMenus(){
            var modules = {};
            modules = JSON.parse(localStorage.getItem("modules"));
            modules.forEach(function(k, v){
                if (k.menu_name === 'Sub Menu'){
                    let main = $.grep(modules, function(e){return e.id === parseInt(k.main_menu);});
                    $('#'+$(main[0]['module_tag']).attr('id') + ' > .sub-menu').append(k.module_tag);
                }else{
                    $('#sidebar').append(k.module_tag);
                    $('#'+$(k.module_tag).attr('id')).append('<ul class="sub-menu children dropdown-menu"></ul>');
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-requests",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#requests-badge').html(v.requests);
                    });
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-applications",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#applications-badge').html(v.applications);
                    });
                }
            });
        }

        let results;

        function loadProcesses(){
            $.ajax({
                'url': '/workflows',
                'type': 'get',
                'data': {},
                'success': function (data) {
                    let processes = data.response;
                    results = processes;
                    populateDataTable(processes);
                },
                'error': function (err) {
                    console.log('Error');
                }
            });
        }

        function getStages(){
            $.ajax({
                type: "GET",
                url: "/stages",
                success: function (response) {
                    let local_stages = (localStorage.getItem('local_stages') !== null)? JSON.parse(localStorage.getItem('local_stages')) : [];
                    $("#stages").dataTable().fnClearTable();
                    $.each(response, function (key, val) {
                        $('#stages').dataTable().fnAddData([val.name]);
                    });
                }
            });
        }

        function addNewStage() {
            let $name = $('#new-stage-name');
            if (!$name)
                return swal('Kindly input a stage name');
            $.ajax({
                'url': '/stages',
                'type': 'post',
                'data': {name:$name.val()},
                'success': function (data) {
                    $name.val('');
                    swal('Stage saved successfully');
                    window.location.reload();
                },
                'error': function (err) {
                    $name.val('');
                    swal('Oops! An error occurred while saving stage');
                }
            });
        }

        function populateDataTable(data) {
            console.log("populating data table...");
            $("#bootstrap-data-table").dataTable().fnClearTable();
            $.each(data, function(k, v){
                let table = [
                    v.ID,
                    v.name,
                    v.date_created,
                    '<button type="button" class="btn btn-info" data-toggle="modal" data-target="#viewProcess" onclick="openModal('+v.ID+')"><i class="fa fa-eye"></i>View Stages</button>'
                ];
                $('#bootstrap-data-table').dataTable().fnAddData(table);
            });
        }

        function openModal(id) {
            let stages = localStorage.getItem("workflow_stages");
            if (stages){
                let data = $.grep(JSON.parse(stages), function(e){ return e.workflowID === id; });
                $("#stages-table").dataTable().fnClearTable();
                $.each(data, function(k, v){
                    let table = [
                        v.ID,
                        v.name,
                        v.description,
                        v.stage_name
                    ];
                    $('#stages-table').dataTable().fnAddData(table);
                    $('#stages-table').dataTable().fnSort([[0,'asc']]);
                });
            }
        }
    </script>


</body>
</html>
