<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loanratus Admin</title>
    <meta name="description" content="Loanratus Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <style type="text/css">
        .select2-container{
            width: 200px !important;
            height: 38px !important;
        }
        .select2-selection{
            height: 100% !important;
            border: 1px solid #ced4da !important;
            border-radius: .25rem !important;
            color: #495057 !important;
        }
        .zc-ref {
            display: none;
        }
    </style>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="assets/js/zingchart.min.js"></script>
</head>
<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/dashboard">Loanratus</a>
                <a class="navbar-brand hidden" href="/dashboard">35</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul id="sidebar" class="nav navbar-nav">
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
</aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <strong id="user" style="margin-right:10px; vertical-align: sub"></strong>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                                <!-- <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                                <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a> -->

                            <a class="nav-link pull-right" href="#" onclick="logout()"><i class="fa fa-power-off"></i> Logout</a>
                            <script type="text/javascript">
                                function logout() {
                                    localStorage.login = "0";
                                    window.location.href = "/logout";
                                }
                            </script>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Commission Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Users</a></li>
                            <li class="active">Commission Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title" style="float: left;">Commission Dashboard</strong>
                                <form id="filter" class="form-inline" style="float: right;">
                                    <div class="form-group">
                                        <select id="filter_type" class="form-control">
                                            <option selected="selected">-- Select Type --</option>
                                            <option value="disbursement">Disbursement</option>
                                            <option value="interest">Interest</option>
                                        </select>
                                    </div>
                                    <div class="form-group" style="margin-left: 5px;">
                                        <select id="filter_target_list" class="form-control">
                                            <option selected="selected">-- Select Target --</option>
                                        </select>
                                    </div>
                                    <div class="form-group" style="margin: 0 5px;">
                                        <select id="filter_commission_list" class="form-control">
                                            <option selected="selected">-- Select Commission --</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success">Filter</button>
                                </form>
                            </div>
                            <div class="card-body">
                                <table id="commissions" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                          <th>User</th>
                                          <th>Commission</th>
                                          <th>Paid</th>
                                          <th>Type</th>
                                          <th>Target</th>
                                          <th>Period</th>
                                          <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
            <div id="wait" style=";width:150px;height:100px;position:fixed;top:50%;left:50%;padding:2px;z-index:99999;"><img src='spinner.gif' width="100" height="100" style="background-color: transparent"/></div>
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Commission Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row setup-content">
                        <div class="col-sm-6">
                            <div class="card text-white bg-flat-color-1">
                                <div class="card-body pb-0">
                                    <h3 id="commission-earned" class="mb-0"></h3>
                                    <p class="text-light">Total Commission Earned</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card text-white bg-flat-color-1">
                                <div class="card-body pb-0">
                                    <h3 id="commission-paid" class="mb-0"></h3>
                                    <p class="text-light">Total Commission Paid</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row setup-content">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <strong><label class=" form-control-label">Amount Paid</label></strong><strong style="color:red"> *</strong><span id="commission-title-error" style="padding-left:50px; text-align: center"></span>
                                <div class="input-group">
                                    <div class="input-group-addon">₦</div>
                                    <input id="amount" type="number" placeholder="0" class="form-control" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-block btn-success" onclick="payCommission()">Add Payment</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <table id="payment-history" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>


    <script src="assets/js/lib/data-table/datatables.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <!--<script src="assets/js/lib/data-table/jszip.min.js"></script>-->
    <!--<script src="assets/js/lib/data-table/pdfmake.min.js"></script>-->
    <!--<script src="assets/js/lib/data-table/vfs_fonts.js"></script>-->
    <script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="assets/js/lib/data-table/datatables-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            check(); loadMenus(); read_write();
            $('#commissions-export').DataTable();
            $("#filter_type").select2();
            getTargetList();
            getCommissionList();
        });

        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });

        $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
        });

        function check(){
            if (localStorage.getItem('role') !== 1){
                jQuery('#car-models').hide();
                jQuery('#new-user').hide();
                jQuery('#models-card').hide();
                jQuery('#user').html(localStorage.getItem("name"));
            }
            else{
                jQuery('#user').html(localStorage.getItem("name"));
            }
        }

        function loadMenus(){
            let modules = {};
            modules = JSON.parse(localStorage.getItem("modules"));
            modules.forEach(function(k, v){
                if (k.menu_name === 'Sub Menu'){
                    let main = $.grep(modules, function(e){return e.id === parseInt(k.main_menu);});
                    $('#'+$(main[0]['module_tag']).attr('id') + ' > .sub-menu').append(k.module_tag);
                }else{
                    $('#sidebar').append(k.module_tag);
                    $('#'+$(k.module_tag).attr('id')).append('<ul class="sub-menu children dropdown-menu"></ul>');
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-requests",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#requests-badge').html(v.requests);
                    });
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-applications",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#applications-badge').html(v.applications);
                    });
                }
            });
        }

        let commissionsList;
        function read_write(){
            let w,
                perms = JSON.parse(localStorage.getItem("permissions")),
                page = (window.location.pathname.split('/')[1].split('.'))[0],
                reversePayment = ($.grep(perms, function(e){return e.module_name === 'reversePayment';}))[0];
            commissionsList = ($.grep(perms, function(e){return e.module_name === 'commissionsList';}))[0];
            perms.forEach(function (k){
                if (k.module_name === page)
                    w = $.grep(perms, function(e){return e.id === parseInt(k.id);});
            });
            if (w && w[0] && (parseInt(w[0]['editable']) !== 1))
                $(".write").hide();

            if (reversePayment && reversePayment['read_only'] === '0')
                $('.reversePayment').hide();

            if (commissionsList && commissionsList['read_only'] === '1'){
                getCommissions();
            } else {
                getCommissions((JSON.parse(localStorage.user_obj)).ID);
            }
        }

        let results;

        function getCommissions(id){
            let uid = id || '';
            $.ajax({
                'url': '/user/commissions-list/'+uid,
                'type': 'GET',
                'success': function (data) {
                    let commissions = data.response;
                    results = commissions;
                    populateDataTable(commissions);
                },
                'error': function (err) {
                    console.log('Error');
                }
            });
        }
        
        function getTargetList(){
            $.ajax({
                type: "GET",
                url: "/targets",
                success: function (data) {
                    $.each(data.response, function (key, val) {
                        $("#filter_target_list").append('<option value = "' + val.ID + '">' + val.title + '</option>');
                    });
                    $("#filter_target_list").select2();
                }
            });
        }

        function getCommissionList(){
            $.ajax({
                type: "GET",
                url: "/commissions",
                success: function (data) {
                    $.each(data.response, function (key, val) {
                        $("#filter_commission_list").append('<option value = "' + val.ID + '">' + val.title + '</option>');
                    });
                    $("#filter_commission_list").select2();
                }
            });
        }

        $("#filter").submit(function (e) {
            e.preventDefault();
            
            let id = '';
            if (!(commissionsList && commissionsList['read_only'] === '1'))
                id = (JSON.parse(localStorage.user_obj)).ID;

            let filter = {},
                url = '/user/commissions-list/'+id,
                filter_type = $("#filter_type").val(),
                filter_target_list = $("#filter_target_list").val(),
                filter_commission_list = $("#filter_commission_list").val();
            if (filter_type !== '-- Select Type --')
                filter.type = filter_type;
            if (filter_target_list !== '-- Select Target --')
                filter.target = filter_target_list;
            if (filter_commission_list !== '-- Select Commission --')
                filter.commission = filter_commission_list;
            if (!$.isEmptyObject(filter))
                url = url.concat('?'+$.param(filter));
            $.ajax({
                'url': url,
                'type': 'get',
                'success': function (data) {
                    let commissions = data.response;
                    results = commissions;
                    populateDataTable(commissions);
                },
                'error': function (err) {
                    console.log(err);
                }
            });
        });

        function populateDataTable(data) {
            console.log("populating data table...");
            $("#commissions").dataTable().fnClearTable();
            $.each(data, function(k, v){
                let table = [
                    v.user,
                    v.commission,
                    '₦'+(parseFloat(v.value)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'),
                    v.type,
                    v.target,
                    v.period,
                    '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ' +
                    'onclick="openCommissionModal(\''+v.ID+','+v.userID+','+v.targetID+','+v.value+','+v.type+
                    ','+v.rate+','+v.threshold+','+v.target_value+','+v.accelerator+','+v.accelerator_type+','+v.start+','+v.end+'\')">' +
                    '<i class="fa fa-eye"></i> View Details</button>'
                ];
                $('#commissions').dataTable().fnAddData(table);
            });
        }

        let earned,
            user_id,
            amount_paid,
            commission_id;
        function openCommissionModal(owner) {
            let earnings = 0,
                values = owner.split(','),
                ID = values[0],
                userID = values[1],
                targetID = values[2],
                paid = values[3],
                type = values[4],
                rate = values[5],
                threshold_rate = values[6],
                target_value = values[7],
                accelerator = values[8],
                accelerator_type = values[9],
                start = values[10],
                end = values[11];
            user_id = userID;
            commission_id = ID;
            amount_paid = paid;
            getPaymentHistory(ID);
            $.ajax({
                type: "GET",
                url: "/user/committals/user/"+type+"/"+userID+"/"+targetID+"?start="+start+"&&end="+end,
                success: function (response) {
                    $('#commission-paid').text('₦'+(parseFloat(paid)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    let data = response.response;
                    data.total = data.total || 0;
                    let threshold = (parseFloat(threshold_rate)/100) * parseFloat(target_value);
                    if (parseFloat(data.total) >= parseFloat(threshold)){
                        if (accelerator_type !== 'null') {
                            switch (accelerator_type) {
                                case 'all': {
                                    earnings = (parseInt(accelerator)/100) * parseFloat(data.total);
                                    break;
                                }
                                case 'additional': {
                                    let excess = parseFloat(data.total) - parseFloat(threshold),
                                        earnings_ = (parseInt(rate)/100) * parseFloat(threshold),
                                        earnings_excess = (parseInt(accelerator)/100) * excess;
                                    earnings = earnings_ + earnings_excess;
                                    break;
                                }
                            }
                        } else {
                            earnings = (parseInt(rate)/100) * parseFloat(data.total);
                        }
                    }
                    earned = earnings - parseFloat(paid);
                    $('#commission-earned').text('₦'+earned.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                }
            });
        }

        function payCommission() {
            let obj = {};
            obj.userID = user_id;
            obj.commissionID = commission_id;
            obj.amount = $('#amount').val();
            if (!obj.amount)
                return swal('Kindly fill all required field(s)','','warning');
            if (parseFloat(obj.amount) > earned)
                return swal('Insufficient commission earned ('+earned+')','','warning');
            $('#wait').show();
            $.ajax({
                'url': '/user/commission/payments',
                'type': 'post',
                'data': obj,
                'success': function (response) {
                    $('#wait').hide();
                    if(response.status === 500){
                        swal(response.error,"","error");
                    } else{
                        swal("Commission payment saved successfully!","","success");
                        window.location.reload();
                    }
                }
            });
        }

        function getPaymentHistory(id) {
            $.ajax({
                type: "GET",
                url: "/user/commission/payment-history/"+id,
                success: function (data) {
                    $("#payment-history").dataTable().fnClearTable();
                    $.each(data.response, function(k, v){
                        let table = [
                            '₦'+(parseFloat(v.amount)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'),
                            v.date_created,
                        ];
                        if (v.status === 0){
                            table.push('Payment Reversed');
                        } else if (v.status === 1){
                            table.push('<button class="btn btn-danger reversePayment" onclick="reverseCommissionPayment('+v.ID+')"><i class="fa fa-remove"></i> Reverse</button>');
                        }
                        $('#payment-history').dataTable().fnAddData(table);
                        $('#payment-history').dataTable().fnSort([[1,'desc']]);
                    });
                }
            });
        }

        function reverseCommissionPayment(payment_id) {
            $.ajax({
                'url': '/user/application/commission-payment-reversal/'+payment_id,
                'type': 'get',
                'success': function (data) {
                    swal('Payment reversed successfully','','success');
                    window.location.reload();
                },
                'error': function (err) {
                    swal('No internet connection','','error');
                }
            });
        }
    </script>
</body>
</html>
