<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loanratus - Admin</title>
    <meta name="description" content="Loanratus Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body class="bg-dark">
<script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="/dashboard">
                         <img class="align-content" src="loan-35-w.png" alt="">
                    </a>
                </div>
                <!--//action="/login" method="post">-->
                <div class="login-form">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="remember" type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="#" data-toggle="modal" data-target="#forgetPasswordModal">Forgotten Password?</a>
                            </label>

                        </div>
                        <input type="submit" id="submit" class="btn btn-success btn-flat m-b-30 m-t-30" value="Log In">
                        <!-- <div class="social-login-content">
                            <div class="social-button">
                                <button type="button" class="btn social facebook btn-flat btn-addon mb-3"><i class="ti-facebook"></i>Sign in with facebook</button>
                                <button type="button" class="btn social twitter btn-flat btn-addon mt-2"><i class="ti-twitter"></i>Sign in with twitter</button>
                            </div>
                        </div>
                        <div class="register-link m-t-15 text-center">
                            <p>Don't have account ? <a href="#"> Sign Up Here</a></p>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
    <div id="wait" style=";width:150px;height:100px;position:absolute;top:50%;left:50%;padding:2px;display: none;"><img src='spinner.gif' width="100" height="100" style="background-color: transparent"/></div>

    <!-- Modal -->
    <div class="modal fade" id="forgetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgetPasswordModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="forgetPasswordModalLabel">Forgot Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class=" form-control-label">Username</label><strong style="color:red"> *</strong><span id="forgot-username-error" style="padding-left:50px; text-align: center"></span>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input id="forgot-username" class="form-control" type="text" required="required" />
                            </div>
                            <small class="form-text text-muted">You will get an email with instructions to reset your password</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="forgotPassword">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>

    <script type="text/javascript">
        jQuery(function($) {
        (function () {
            for (var it in $.cookie()) $.removeCookie(it);
        })();
        if (localStorage.remember === '1')
            $('#remember').prop('checked', true);

        $(document).on("click", "#remember", function (e) {
            if ($('#remember').is(':checked'))
                return localStorage.remember = '1';
            return localStorage.remember = '0';
        });

        if (localStorage.remember === '1' && localStorage.login === '1' && localStorage.user_obj)
            initLogin(JSON.parse(localStorage.user_obj));

        $(document).on("click", "#submit", function (e) {
            let obj = {},
                test = {};
            obj.username = $('#username').val();
            obj.password = $('#password').val();
            $.ajax({
                'url': '/login',
                'type': 'post',
                'data': obj,
                'success': function (data) {
                    $.each(data, function (key, val) {
                        test[key] = val;
                    });
                    localStorage.user_obj = JSON.stringify(test["response"]);
                    if (test["status"] === 500){
                        swal(test["response"]);
                    }
                    else if (test["status"] === 200){
                        initLogin(test["response"]);
                    }
                }
            });

        });

        function initLogin(user) {
            let minutes = 24 * 60,
                date = new Date();
            date.setTime(date.getTime() + (minutes * 60 * 1000));
            localStorage.login = '1';
            $.cookie('timeout', user["ID"], { expires: date });
            if (user["fullname"])
                localStorage.setItem("name", user["fullname"]);
            if (user["role"])
                localStorage.setItem("user", user["role"]);
            if (user["permissions"])
                localStorage.setItem("permissions", JSON.stringify(user["permissions"]));
            if (user["user_role"])
                localStorage.setItem("role", user["user_role"]);
            if (user["status"])
                localStorage.setItem("status", user["status"]);
            if (user["modules"])
                localStorage.setItem("modules", JSON.stringify(user["modules"]));
            if (user["permissions"] !== ""){
                window.location.href="./dashboard";
            } else {
                swal("Login Successful! However, No Views Set For This User");
            }
        }

        $(document).on("click", "#forgotPassword", function (e) {
            let username = $('#forgot-username').val();
            if (!username)
                return swal('Kindly input a valid username');
            $('#wait').show();
            $('#forgetPasswordModal').modal('hide');
            $.ajax({
                'url': '/user/forgot-password/'+username,
                'type': 'get',
                'success': function (data) {
                    $('#wait').hide();
                    if (data.status === 500){
                        swal(data.response);
                    } else {
                        $('#forgot-username').val('');
                        swal('Forgot password request successful!');
                    }
                },
                'error': function (err) {
                    $('#wait').hide();
                    console.log(err);
                    swal('No internet connection!');
                }
            });
        });

        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });

        $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
        });
        });
    </script>

</body>
</html>
