<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loan35 Admin</title>
    <meta name="description" content="Loan35 Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">
    <link rel="stylesheet" href="assets/css/lib/chosen/chosen.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body class="open">
<!-- Left Panel -->
<script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($){ check(); loadMenus(); read_write();});
</script>

<style>
    #regForm {
        background-color: rgba(255, 255, 255, 0.44);
        /*margin: 100px auto;*/
        padding: 20px;
        /*width: 70%;*/
        /*!*min-width: 300px;*!*/
    }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

    /* Mark the active step: */
    .step.active {
        opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #4CAF50;
    }
</style>

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/dashboard">Loan 35</a>
            <a class="navbar-brand hidden" href="/dashboard">35</a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul id="sidebar" class="nav navbar-nav"></ul>
        </div>
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                </div>
            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <strong id="user" style="margin-right:10px; vertical-align: sub"></strong>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link pull-right" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Loan Reports</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Loan Reports</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="row">
                <div class="card col-sm-12">
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="card" style="border-color: transparent">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="card text-white bg-flat-color-1">
                                            <div class="card-body pb-0" style="text-align: center">
                                                <h3 id="branch" class="mb-0"></h3>
                                                <p class="text-light">Branches</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card text-white bg-flat-color-1">
                                            <div class="card-body pb-0" style="text-align: center">
                                                <h3 id="loan-officers" class="mb-0"></h3>
                                                <p class="text-light">Loan Officers</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card text-white bg-flat-color-1">
                                            <div class="card-body pb-0" style="text-align: center">
                                                <h3 id="loans-active" class="mb-0"></h3>
                                                <p class="text-light">Loans Active</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card text-white bg-flat-color-1">
                                            <div class="card-body pb-0" style="text-align: center">
                                                <h3 id="loan-per" class="mb-0"></h3>
                                                <p class="text-light">Loans Per Loan Officer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#intelliboard" role="tab" data-toggle="tab">IntelliBoard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#org-reports" role="tab" data-toggle="tab">Organizational Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#perf-reports" role="tab" data-toggle="tab">Performance Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#risk-reports" role="tab" data-toggle="tab">Risk Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#fin-reports" role="tab" data-toggle="tab">Financial Reports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#cust-reports" role="tab" data-toggle="tab">Custom Reports</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active show in" id="intelliboard">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <strong>Disbursements</strong>
                                                            <form id="filterdisbursements" class="form-inline" style="float: right;">
                                                                <div class="form-group">
                                                                    <label class="" for="startDate">Start date</label>
                                                                    <input type="date" class="form-control" id="startDate" placeholder="Start date">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="" for="endDate">End date</label>
                                                                    <input type="date" class="form-control" id="endDate" placeholder="End date">
                                                                </div>
                                                                <button type="submit" class="btn btn-success">Filter</button>
                                                            </form>
                                                            <span class="pull-right">Total: <span id="total-disbursements"></span></span>
                                                        </div>
                                                        <div class="card-body">
                                                            <table id="disbursed-table" class="table table-striped table-bordered" width="100%">
                                                                <thead>
                                                                <tr>
                                                                    <th>Loan ID</th>
                                                                    <th>Name</th>
                                                                    <th>Principal</th>
                                                                    <th>Balance</th>
                                                                    <th>Date</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <strong>Payments</strong>
                                                            <form id="filterpayments" class="form-inline" style="float: right;">
                                                                <div class="form-group">
                                                                    <label class="" for="startDate">Start date</label>
                                                                    <input type="date" class="form-control" id="paystart" placeholder="Start date">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="" for="endDate">End date</label>
                                                                    <input type="date" class="form-control" id="payend" placeholder="End date">
                                                                </div>
                                                                <button type="submit" class="btn btn-success">Filter</button>
                                                            </form>
                                                            <span class="pull-right">Total: <span id="total-payments" ></span></span>
                                                        </div>
                                                        <div class="card-body">
                                                            <table id="payments-table" class="table table-striped table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>Client ID</th>
                                                                    <th>Name</th>
                                                                    <th>Paid (Principal + Interest)</th>
                                                                    <th>Last Payment</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <strong>Loans by Branch</strong>&nbsp;&nbsp;&nbsp;
                                                            <form id="filterbybranch" class="form-inline" style="float: right;">
                                                                <div class="form-group">
                                                                    <label class="" for="startDate">Start date</label>
                                                                    <input type="date" class="form-control" id="filterbranchstart" placeholder="Start date">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="" for="endDate">End date</label>
                                                                    <input type="date" class="form-control" id="filterbranchend" placeholder="End date">
                                                                </div>
                                                                <button type="submit" class="btn btn-success">Filter</button>
                                                            </form>
                                                            <!--<select id="branch-filter" onchange="filterBranch(this)" style="width: 200px">-->
                                                            <!--</select>-->
                                                            <span class="pull-right">Total GLP: <span id="total-loans-by-branch"></span></span>
                                                        </div>
                                                        <div class="card-body">
                                                            <table id="loan-by-branch-table" class="table table-striped table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>Branch ID</th>
                                                                    <th>Branch Name</th>
                                                                    <th>Disbursed</th>
                                                                    <th>Collected</th>
                                                                    <th>GLP</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <strong>Projected Interest</strong>
                                                            <form id="filterprojectedinterest" class="form-inline" style="float: right;">
                                                                <div class="form-group">
                                                                    <label class="" for="startDate">Start date</label>
                                                                    <input type="date" class="form-control" id="filterprointstart" placeholder="Start date">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="" for="endDate">End date</label>
                                                                    <input type="date" class="form-control" id="filterprointend" placeholder="End date">
                                                                </div>
                                                                <button type="submit" class="btn btn-success">Filter</button>
                                                            </form>
                                                            <span class="pull-right">Total: <span id="total-interests"></span></span>
                                                        </div>
                                                        <div class="card-body">
                                                            <table id="projected-interests-table" class="table table-striped table-bordered">
                                                                <thead>
                                                                <tr>
                                                                    <th>Client ID</th>
                                                                    <th>Name</th>
                                                                    <th>Projected Interest</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="org-reports">bbb</div>
                                <div role="tabpanel" class="tab-pane fade" id="perf-reports">ccc</div>
                                <div role="tabpanel" class="tab-pane fade" id="risk-reports">...</div>
                                <div role="tabpanel" class="tab-pane fade" id="fin-reports">bbb</div>
                                <div role="tabpanel" class="tab-pane fade" id="cust-reports">ccc</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- .animated -->
        <div id="wait" style=";width:150px;height:100px;position:absolute;top:50%;left:50%;padding:2px;"><img src='spinner.gif' width="100" height="100" style="background-color: transparent"/></div>
    </div><!-- .content -->


</div><!-- /#right-panel -->

<!-- Right Panel -->

<script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/lib/chosen/chosen.jquery.min.js"></script>


<script src="assets/js/lib/data-table/datatables.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/jszip.min.js"></script>
<script src="assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="assets/js/lib/data-table/datatables-init.js"></script>

<script>
    jQuery(document).ready(function() {
        loadInfo();
        loadDisbursed();
        loadPayments();
        loadLoansByBranch();
        loadProjectedInterests();
    });

    const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'NGN'
    })

    var myTable = $('#disbursed-table')
        .DataTable({
            bAutoWidth: false,
            "aoColumns": [
                { "bSortable": false }, { "bSortable": true },
                null, null, { "bSortable": true },
            ],
            "aaSorting": [],
//            "bSearchable": false,
            select: {
                style: 'multi'
            }
        });

    var myTable2 = $('#payments-table')
        .DataTable({
            bAutoWidth: true,
            "aoColumns": [
                { "bSortable": false },
                null, { "bSortable": true }, null
                // , null, { "bSortable": false },
            ],
            "aaSorting": [],
//            "bFilter": true,
//            "bSearchable": false,
            // "bInfo" : false,
            select: {
                style: 'multi'
            },
            "paging": true
        });

    var myTable3 = $('#loan-by-branch-table')
        .DataTable({
            bAutoWidth: true,
            "aoColumns": [
                { "bSortable": false },
                null, { "bSortable": true }, { "bSortable": true }, null
                // , null, { "bSortable": false },
            ],
            "aaSorting": [],
//            "bFilter": true,
//            "bSearchable": false,
            // "bInfo" : false,
            select: {
                style: 'multi'
            },
            "paging": true
        });

    var myTable4 = $('#projected-interests-table')
        .DataTable({
            bAutoWidth: true,
            "aoColumns": [
                { "bSortable": false },
                { "bSortable": true }, { "bSortable": true }
                // , null, { "bSortable": false },
            ],
            "aaSorting": [],
//            "bFilter": true,
//            "bSearchable": false,
            // "bInfo" : false,
            select: {
                style: 'multi'
            },
            "paging": true
        });

    $(document).ajaxStart(function(){
        $("#wait").css("display", "block");
    });

    $(document).ajaxComplete(function(){
        $("#wait").css("display", "none");
    });

    function check(){
        if (localStorage.getItem('role') != 1){
            jQuery('#car-models').hide();
            jQuery('#new-user').hide();
            jQuery('#models-card').hide();
            jQuery('#user').html(localStorage.getItem("name"));
        }
        else{
            jQuery('#user').html(localStorage.getItem("name"));
//                jQuery('#h-role').html(localStorage.getItem("user"));
        }
    }

    function loadMenus(){
        var modules = {};
        modules = JSON.parse(localStorage.getItem("modules"));
        modules.forEach(function(k, v){
            if (k.menu_name === 'Sub Menu'){
                let main = $.grep(modules, function(e){return e.id === parseInt(k.main_menu);});
                $('#'+$(main[0]['module_tag']).attr('id') + ' > .sub-menu').append(k.module_tag);
            }else if(k.menu_name === 'Main Menu'){
                $('#sidebar').append(k.module_tag);
                $('#'+$(k.module_tag).attr('id')).append('<ul class="sub-menu children dropdown-menu"></ul>');
            }else{
                $('#'+k.module_name).show();
            }
        });
        $.ajax({
            type: "GET",
            url: "/user/all-requests",
            success: function (response) {
                $.each(response, function(k,v){
                    $('#requests-badge').html(v.requests);
                });
            }
        });
        $.ajax({
            type: "GET",
            url: "/user/all-applications",
            success: function (response) {
                $.each(response, function(k,v){
                    $('#applications-badge').html(v.applications);
                });
            }
        });
    }

    function read_write(){
        let w;
        var perms = JSON.parse(localStorage.getItem("permissions"));
        var page = (window.location.pathname.split('/')[1].split('.'))[0];
        perms.forEach(function (k,v){
            if (k.module_name === page){
                w = $.grep(perms, function(e){return e.id === parseInt(k.id);});
            }
        });
        if (w && w[0] && (parseInt(w[0]['editable']) !== 1)){
            $(".write").hide();
        }
    }

    function padWithZeroes(n, width, z) {
        z = z || '0';
        n = n + '';
        return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
    }

    function loadInfo(){
        $.ajax({
            'url': 'user/report-cards/',
            'type': 'get',
            'success': function (data) {
                populateCards(data.response);
            },
            'error': function (err) {
                //alert ('Error');
                console.log('Error');
            }
        });
    }

    function populateCards(data){
        $('#branch').html(data.branches[0]["branches"]);
        $('#loan-officers').html(data.loan_officers[0]["loan_officers"]);
        $('#loans-active').html(data.active_loans[0]["all_applications"]);
        $('#loan-per').html(data["avg_loan_per_officers"]);
    }

    function loadDisbursed(){
        let start = $("#startDate").val(),
            end = $("#endDate").val(),
            url;
        url = (start === "" || start === null || end === "" || end === null ) ? 'user/disbursements/filter' : 'user/disbursements/filter?start='+formatDate(start)+'&&end='+formatDate(end)

        $.ajax({
            'url': url,
            'type': 'get',
            'success': function (data) {
                (data.status === 200) ? populateDisbursed(data.response) : swal({"icon": "error", "text": 'Database Error'})
            },
            'error': function (err) {
                swal('Error in Connection!')
            }
        });
    }

    function populateDisbursed(dets){
        $("#disbursed-table").dataTable().fnClearTable();
        if (dets.length === 0){
            $("#disbursed-table").dataTable().fnClearTable();
        }else{
            var total = 0;
            jQuery.each(dets.with_payments, function(k, v){
                total+= parseFloat(v.loan_amount);
                $("#disbursed-table").dataTable().fnAddData([
                    padWithZeroes(parseInt(v.applicationID),6),
                    v.fullname,
                    formatter.format(parseFloat(v.loan_amount)),
                    formatter.format(parseFloat(v.balance)),
                    formatDate(v.date)
                ]);
            });
            jQuery.each(dets.without_pay, function(k, v){
                total+= parseFloat(v.loan_amount);
                $("#disbursed-table").dataTable().fnAddData([
                    padWithZeroes(parseInt(v.ID),6),
                    v.fullname,
                    formatter.format(parseFloat(v.loan_amount)),
                    formatter.format(parseFloat(v.loan_amount)),
                    formatDate(v.date_modified)
                ]);
            });
            $('#total-disbursements').html(formatter.format(total));
        }
    }

    $("#filterdisbursements").submit(function (e) {
        e.preventDefault();

        let start = $("#startDate").val(),
            end = $("#endDate").val(),
            type = $("#type-filter").val(),
            url = '/user/disbursements/filter?start='+formatDate(start)+'&&end='+formatDate(end);
        if (!start || !end)
            return loadDisbursed();

        $.ajax({
            'url': url,
            'type': 'get',
            'success': function (data) {
                let applications = data.response;
                results = applications;
                populateDisbursed(applications);
            },
            'error': function (err) {
                console.log(err);
            }
        });
    });

    function loadPayments(){
        let start = $("#paystart").val(),
            end = $("#payend").val(),
            url;
        url = (start === "" || start === null || end === "" || end === null ) ? 'user/payments/' : 'user/payments?start='+formatDate(start)+'&&end='+formatDate(end)
        $.ajax({
            'url': url,
            'type': 'get',
            'success': function (data) {
                (data.status === 200) ? populatePayments(data.response) : swal({"icon": "error", "text": 'Database Error'})
            },
            'error': function (err) {
                swal('Error in Connection!')
            }
        });
    }

    function populatePayments(dets){
        $("#payments-table").dataTable().fnClearTable();
        if (dets.length === 0){
            $("#payments-table").dataTable().fnClearTable();
        }else{
            var total = 0;
            jQuery.each(dets.payment, function(k, v){
                $("#payments-table").dataTable().fnAddData([
                    padWithZeroes(parseInt(v.clientid),6),
                    v.fullname,
                    formatter.format(parseFloat(v.paid + v.interest)),
                    v.date
                ]);
            });
            total = dets.total[0]["total"];
            $('#total-payments').html(formatter.format(total));
        }
    }

    $("#filterpayments").submit(function (e) {
        e.preventDefault();

        let start = $("#paystart").val(),
            end = $("#payend").val(),
            url = '/user/payments/?start='+formatDate(start)+'&&end='+formatDate(end);
        if (!start || !end)
            return loadPayments();

        $.ajax({
            'url': url,
            'type': 'get',
            'success': function (data) {
                let applications = data.response;
                results = applications;
                populatePayments(applications);
            },
            'error': function (err) {
                console.log(err);
            }
        });
    });

    function loadLoansByBranch(){
        let start = $("#filterbranchstart").val(),
            end = $("#filterbranchend").val(),
            url;
        url = (start === "" || start === null || end === "" || end === null ) ? 'user/loans-by-branches/' : 'user/loans-by-branches?start='+formatDate(start)+'&&end='+formatDate(end)
        $.ajax({
            'url': url,
            'type': 'get',
            'success': function (data) {
                (data.status === 200) ? populateLoanByBranch(data.response) : swal({"icon": "error", "text": 'Database Error'})
            },
            'error': function (err) {
                swal('Error in Connection!')
            }
        });
    }

    function populateLoanByBranch(dets){
        $("#loan-by-branch-table").dataTable().fnClearTable();
        if (dets.length === 0){
            $("#loan-by-branch-table").dataTable().fnClearTable();
        }else{
            var total = 0;
            jQuery.each(dets, function(k, v){
                total += v.disbursed;
                $("#loan-by-branch-table").dataTable().fnAddData([
                    padWithZeroes(v.branchID, 6),
                    v.branch,
                    formatter.format(v.disbursed),
                    formatter.format(v.collected),
                    formatter.format(v.disbursed)
                ]);
            });
            $('#total-loans-by-branch').html(formatter.format(total));
        }
    }

    $("#filterbybranch").submit(function (e) {
        e.preventDefault();

        let start = $("#filterbranchstart").val(),
            end = $("#filterbranchend").val(),
            url = '/user/loans-by-branches?start='+formatDate(start)+'&&end='+formatDate(end);
        if (!start || !end)
            return loadLoansByBranch();

        $.ajax({
            'url': url,
            'type': 'get',
            'success': function (data) {
                let applications = data.response;
                results = applications;
                populateLoanByBranch(applications);
            },
            'error': function (err) {
                console.log(err);
            }
        });
    });

    function loadProjectedInterests(){
        let start = $("#filterprointstart").val(),
            end = $("#filterprointend").val(),
            url;
        url = (start === "" || start === null || end === "" || end === null ) ? 'user/projected-interests/' : 'user/projected-interests?start='+formatDate(start)+'&&end='+formatDate(end)
        $.ajax({
            'url': 'user/projected-interests/',
            'type': 'get',
            'success': function (data) {
                populateProjectedInterests(data);
            },
            'error': function (err) {
                swal('Error in Connection!')
            }
        });
    }

    function populateProjectedInterests(dets){
        $("#projected-interests-table").dataTable().fnClearTable();
        if (dets.length === 0){
            $("#projected-interests-table").dataTable().fnClearTable();
        }else{
            let full = [],
                paid = [],
                total = 0;
            console.log(dets);
            jQuery.each(dets.response.due, function(k, v){
                full.push(v);
            });
            jQuery.each(dets.response.paid, function(k, v){
                paid.push(v);
            });
            for (let i = 0; i < paid.length; i++){
                full[i]["paid"] = paid[i]["interest_paid"]
            }
            console.log(full);
            $.each(full, function(k,v){
                if (v.paid){
                    total+= parseFloat(v.interest_due - v.paid);
                    $("#projected-interests-table").dataTable().fnAddData([
                        padWithZeroes(v.clientID, 6), v.client, formatter.format(parseFloat(v.interest_due - v.paid))
                    ]);
                }else{
                    total += parseFloat(v.interest_due - 0)
                    $("#projected-interests-table").dataTable().fnAddData([
                        padWithZeroes(v.clientID, 6), v.client, formatter.format(parseFloat(v.interest_due - 0))
                    ]);
                }
            });
            $('#total-interests').html(formatter.format(total));
        }
    }

    $("#filterprojectedinterest").submit(function (e) {
        e.preventDefault();

        let start = $("#filterprointstart").val(),
            end = $("#filterprointend").val(),
            url = '/user/projected-interests?start='+formatDate(start)+'&&end='+formatDate(end);
        if (!start || !end)
            return loadProjectedInterests();

        $.ajax({
            'url': url,
            'type': 'get',
            'success': function (data) {
                let applications = data.response;
                results = applications;
                populateProjectedInterests(applications);
            },
            'error': function (err) {
                console.log(err);
            }
        });
    });

    function formatDate(date) {
        let separator;
        if (date.indexOf('-') > -1){
            separator = '-';
        } else if (date.indexOf('/') > -1){
            separator = '/';
        } else {
            return date;
        }
        let date_array = date.split(separator);
        return date_array[0]+'-'+date_array[1]+'-'+date_array[2];
    }

</script>

</body>
</html>
