<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loan35 Admin</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">
    <link rel="stylesheet" href="assets/css/lib/chosen/chosen.min.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
    <!-- Left Panel -->
    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($){ check(); loadMenus();});
    </script>
<style>
    .vl {
        border-left: 6px solid green;
        height: 500px;
    position: absolute;
    left: 50%;
    /* margin-left: -3px; */
    top: 0;
    }
    </style>
    <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">
    
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/dashboard">Loan 35</a>
                    <a class="navbar-brand hidden" href="/dashboard">35</a>
                </div>
    
                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul id="sidebar" class="nav navbar-nav">
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <!--<button class="search-trigger"><i class="fa fa-search"></i></button>-->
                        <!--<div class="form-inline">-->
                        <!--<form class="search-form">-->
                        <!--<input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">-->
                        <!--<button class="search-close" type="submit"><i class="fa fa-close"></i></button>-->
                        <!--</form>-->
                        <!--</div>-->

                        <!-- <div class="dropdown for-notification">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">5</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                          </div>
                        </div> -->

                        <!-- <div class="dropdown for-message">
                          <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti-email"></i>
                            <span class="count bg-primary">9</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">You have 4 Mails</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                          </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <strong id="user" style="margin-right:10px; vertical-align: sub"></strong>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <!-- <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a> -->

                            <a class="nav-link pull-right" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                    <!-- <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language" >
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Reports</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Reports</a></li>
                            <li class="active">Valuation Reports</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">

            <div class="row">

                <div class="col-xs-12 col-sm-12">
                    <div class="col-xs-12 col-sm-12" id="chartContainer" style="height: 500px; width: 100%;"></div>
                    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
                    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
                </div>

            </div>

                
            <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="col-sm-6" id="chartContainer2" style="height: 500px; width: 80%"></div>
                        <div class="col-sm-6" id="chartContainer3" style="height: 500px; width: 80%"></div>
                    </div>
                </div>
        </div><!-- .content -->


    </div><!-- /#right-panel -->

<!-- Right Panel -->


    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/lib/chosen/chosen.jquery.min.js"></script>

    <script>
        jQuery(document).ready(function() {
            loadCumReports();
            loadMarketValues();
            console.log(formatDate('2018-10-15 12:23:26 pm'));
            //loadFSValues();
        });

        function check(){
            if (localStorage.getItem('role') != 1){
                jQuery('#car-models').hide();
                jQuery('#new-user').hide();
                jQuery('#models-card').hide();
                jQuery('#user').html(localStorage.getItem("name"));
            }
            else{
                jQuery('#user').html(localStorage.getItem("name"));
//                jQuery('#h-role').html(localStorage.getItem("user"));
            }
        }

        function loadMenus(){
            var modules = {};
            modules = JSON.parse(localStorage.getItem("modules"));
            modules.forEach(function(k, v){
                if (k.menu_name === 'Sub Menu'){
                    let main = $.grep(modules, function(e){return e.id === parseInt(k.main_menu);});
                    $('#'+$(main[0]['module_tag']).attr('id') + ' > .sub-menu').append(k.module_tag);
                }else{
                    $('#sidebar').append(k.module_tag);
                    $('#'+$(k.module_tag).attr('id')).append('<ul class="sub-menu children dropdown-menu"></ul>');
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-requests",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#requests-badge').html(v.requests);
                    });
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-applications",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#applications-badge').html(v.applications);
                    });
                }
            });
        }

        function loadCumReports(){
            jQuery.ajax({
                'url': '/cum-report',
                'type': 'get',
                'data': {},
                'success': function (data) {
                    console.log(data);
                    var response = data;
                    localStorage.setItem("A_M", response[0]['admin_market']);
                    localStorage.setItem("A_F", response[0]['admin_first']);
                    localStorage.setItem("I_M", response[0]['market']);
                    localStorage.setItem("I_F", response[0]['first']);

                    var options = {
                                    animationEnabled: true,
                                    title:{
                                        text: "Cumulative Comparison"   
                                    },
                                    axisY:{
                                        title:"Amount (in Naira)"
                                    },
                                    toolTip: {
                                        shared: true,
                                        reversed: true
                                    },
                                    data: [{
                                        type: "stackedColumn",
                                        name: "Market Valuation",
                                        showInLegend: "true",
                                        yValueFormatString: "#,##0 Naira",
                                        dataPoints: [
                                            { y: parseInt(localStorage.getItem('A_M')) , label: "ATB Admin" },
                                            { y: parseInt(localStorage.getItem('I_M')), label: "Vehicle Inspector" }
                                        ]
                                    },
                                    {
                                        type: "stackedColumn",
                                        name: "Forced - Sale Value",
                                        showInLegend: "true",
                                        yValueFormatString: "#,##0 Naira",
                                        dataPoints: [
                                            { y: parseInt(localStorage.getItem('A_F')) , label: "ATB Admin" },
                                            { y: parseInt(localStorage.getItem('I_F')), label: "Vehicle Inspector" }
                                        ]
                                    }]
                                };

                    $("#chartContainer").CanvasJSChart(options);
                    console.log(localStorage);
                },
                'error': function (err) {
                    //alert ('Error');
                    swal("No Data Detected. Please Try Again!");
                }
            });
        }

        function loadMarketValues(){
            jQuery.ajax({
                'url': '/mf-report',
                'type': 'get',
                'data': {},
                'success': function (data) {
                    var response = data;
                    let forceds = [], forceds2 = [], markets = [], markets2 = [];
                    $.each(response, function(key, value){
                        forceds.push({x: new Date(formatDate(value.Date_Inspected)), y:parseInt(value.FirstSale_Value)});
                        forceds2.push({x: new Date(formatDate(value.Date_Inspected)), y:parseInt(value.Admin_FirstSale_Value)});
                        markets.push({x: new Date(formatDate(value.Date_Inspected)), y:parseInt(value.Market_Valuation)});
                        markets2.push({x: new Date(formatDate(value.Date_Inspected)), y:parseInt(value.Admin_Market_Valuation)});
                        if (response.length === key+1){
                            var options = {
                                    animationEnabled: true,
                                    theme: "light2",
                                    title:{
                                        text: "Admin vs Inspector Forced - Sale Values"
                                    },
                                    axisX:{
                                        valueFormatString: "DD-MMMM"
                                    },
                                    axisY: {
                                        title: "Amount in Naira",
                                        minimum: 30
                                    },
                                    toolTip:{
                                        shared:true
                                    },  
                                    legend:{
                                        cursor:"pointer",
                                        verticalAlign: "bottom",
                                        horizontalAlign: "left",
                                        dockInsidePlotArea: true,
                                        itemclick: toogleDataSeries
                                    },
                                    data: [{
                                        type: "line",
                                        showInLegend: true,
                                        name: "Inspector Forced - Sale Values",
                                        markerType: "square",
                                        xValueFormatString: "DD MMM, YYYY",
                                        color: "#F08080",
                                        yValueFormatString: "#,##0",
                                        dataPoints: forceds
                                    },
                                    {
                                        type: "line",
                                        showInLegend: true,
                                        name: "Admin Forced Sale Values",
                                        lineDashType: "dash",
                                        yValueFormatString: "#,##0",
                                        dataPoints: forceds2
                                    }]
                                };
                            var options2 = {
                                    animationEnabled: true,
                                    theme: "light2",
                                    title:{
                                        text: "Admin vs Inspector Market Valuations"
                                    },
                                    axisX:{
                                        valueFormatString: "DD-MMMM"
                                    },
                                    axisY: {
                                        title: "Amount in Naira",
                                        minimum: 30
                                    },
                                    toolTip:{
                                        shared:true
                                    },  
                                    legend:{
                                        cursor:"pointer",
                                        verticalAlign: "bottom",
                                        horizontalAlign: "left",
                                        dockInsidePlotArea: true,
                                        itemclick: toogleDataSeries
                                    },
                                    data: [{
                                        type: "line",
                                        showInLegend: true,
                                        name: "Inspector Market Valuations",
                                        markerType: "square",
                                        xValueFormatString: "DD MMM, YYYY",
                                        color: "#F08080",
                                        yValueFormatString: "#,##0",
                                        dataPoints: markets
                                    },
                                    {
                                        type: "line",
                                        showInLegend: true,
                                        name: "Admin Market Valuations",
                                        lineDashType: "dash",
                                        yValueFormatString: "#,##0",
                                        dataPoints: markets2
                                    }]
                                };
                            
                            $("#chartContainer2").CanvasJSChart(options);
                            $("#chartContainer3").CanvasJSChart(options2);
                        }
                    });
                },
                'error': function (err) {
                    //alert ('Error');
                    swal("No Data Detected. Please Try Again!");
                }
            });
        }

        function loadFSValues(){
            jQuery.ajax({
                'url': '/cum-report',
                'type': 'get',
                'data': {},
                'success': function (data) {
                    var response = data;
                    localStorage.setItem("A_M", response[0]['admin_market']);
                    localStorage.setItem("A_F", response[0]['admin_first']);
                    localStorage.setItem("I_M", response[0]['market']);
                    localStorage.setItem("I_F", response[0]['first']);

                    var options = {
                                    animationEnabled: true,
                                    title:{
                                        text: "Cumulative Comparison"   
                                    },
                                    axisY:{
                                        title:"Amount (in Naira)"
                                    },
                                    toolTip: {
                                        shared: true,
                                        reversed: true
                                    },
                                    data: [{
                                        type: "stackedColumn",
                                        name: "Market Valuation",
                                        showInLegend: "true",
                                        yValueFormatString: "#,##0 Naira",
                                        dataPoints: [
                                            { y: parseInt(localStorage.getItem('A_M')) , label: "ATB Admin" },
                                            { y: parseInt(localStorage.getItem('I_M')), label: "Vehicle Inspector" }
                                        ]
                                    },
                                    {
                                        type: "stackedColumn",
                                        name: "Forced - Sale Value",
                                        showInLegend: "true",
                                        yValueFormatString: "#,##0 Naira",
                                        dataPoints: [
                                            { y: parseInt(localStorage.getItem('A_F')) , label: "ATB Admin" },
                                            { y: parseInt(localStorage.getItem('I_F')), label: "Vehicle Inspector" }
                                        ]
                                    }]
                                };

                    $("#chartContainer3").CanvasJSChart(options);
                    console.log(localStorage);
                },
                'error': function (err) {
                    //alert ('Error');
                    swal("No Data Detected. Please Try Again!");
                }
            });
        }

        function formatDate(date) {
            if (isNaN(date)){
                let separator;
                if (date.indexOf('-') > -1){
                    separator = '-';
                } else if (date.indexOf('/') > -1){
                    separator = '/';
                } else {
                    return date;
                }
                let date_array = date.split(separator);
                return date_array[0]+'-'+date_array[1]+'-'+date_array[2];
            } else {
                date = parseInt(date);
                return new Date(date);
            }
        }

        function toogleDataSeries(e){
            if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else{
                e.dataSeries.visible = true;
            }
            e.chart.render();
        }
        
    </script>

</body>
</html>
