<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loanratus Admin</title>
    <meta name="description" content="Loanratus Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets/scss/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="css/jquery.fileupload.css">
    <link rel="stylesheet" href="css/jquery.fileupload-ui.css">
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.3/jquery.fancybox.min.css">
    <style type="text/css">
        ul.nav li.active p{color: #ffffff;}
        a, a p, a h4, a:hover{color: rgb(66, 139, 202);}
        li.disabled a p, li.disabled a h4 {color: #878787;}
        li.active a h4 {color: #ffffff;}
        table{width: 100%;}
        table th{text-align: center;}
        .alert-success, .alert-success p {color: #155724;}
        .modal-dialog{
            left: 0;
        }
        .thumbnail {
            padding:0px;
        }
        .panel {
            position:relative;
        }
        .panel>.panel-heading:after,.panel>.panel-heading:before{
            position:absolute;
            top:11px;left:-16px;
            right:100%;
            width:0;
            height:0;
            display:block;
            content:" ";
            border-color:transparent;
            border-style:solid solid outset;
            pointer-events:none;
        }
        .panel>.panel-heading:after{
            border-width:7px;
            border-right-color:#f7f7f7;
            margin-top:1px;
            margin-left:2px;
        }
        .panel>.panel-heading:before{
            border-right-color:#ddd;
            border-width:8px;
        }
        select.form-control{
            height: 36px !important;
        }
        ul.timeline {
            list-style-type: none;
            position: relative;
        }
        ul.timeline:before {
            content: ' ';
            background: #d4d9df;
            display: inline-block;
            position: absolute;
            left: 29px;
            width: 2px;
            height: 100%;
            z-index: 400;
        }
        ul.timeline > li {
            margin: 20px 0;
            padding-left: 60px;
        }
        ul.timeline > li:before {
            content: ' ';
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid #22c0e8;
            left: 20px;
            width: 20px;
            height: 20px;
            z-index: 400;
        }
        ul#workflow-ul-list li{
            padding: 5px 0;
        }
        .carousel {
            margin-bottom: 0;
            padding: 0 40px 30px 40px;
        }
        .carousel-control {
            left: -12px;
            height: 40px;
            width: 40px;
            background: none repeat scroll 0 0 #222222;
            border: 4px solid #FFFFFF;
            border-radius: 23px 23px 23px 23px;
            margin-top: 90px;
        }
        .carousel-control.right {
            right: -12px;
        }
        .carousel-indicators {
            right: 50%;
            top: auto;
            bottom: -10px;
            margin-right: -19px;
        }
        .carousel-indicators li {
            background: #cecece;
        }
        .carousel-indicators .active {
            background: #428bca;
        }
        .badge-success {
            background-color: #28a745;
        }
        .badge-danger {
            background-color: #dc3545;
        }
        .badge-warning {
            background-color: #f0ad4e;
        }
        .pb-0{
            text-align: center;
        }
        input.invalid, span.invalid {
            border: 2px dashed red;
        }
    </style>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
<!-- Left Panel -->
<script type="text/javascript">
    jQuery(document).ready(function($){ check(); loadMenus(); read_write();});
</script>

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/dashboard">Loanratus</a>
            <a class="navbar-brand hidden" href="/dashboard">LR</a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul id="sidebar" class="nav navbar-nav">
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->
<!-- Left Panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <strong id="user" style="margin-right:10px; vertical-align: sub"></strong>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <!-- <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                        <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                        <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a> -->

                        <a class="nav-link pull-right" href="#" onclick="logout()"><i class="fa fa-power-off"></i> Logout</a>
                        <script type="text/javascript">
                            function logout() {
                                localStorage.login = "0";
                                window.location.href = "/logout";
                            }
                        </script>
                    </div>
                </div>

            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Activity</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Users</a></li>
                        <li class="active"><a href="/activity">All Activities</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div id="feed" class="card-body" style="border-radius: 10px"></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <span style="margin: 5px;">Comments</span>
                            <button class ="btn btn-info" style="float: right;" data-toggle="modal" data-target="#addCommentModal">Add Comment <i class="fa fa-comment"></i></button>
                        </div>
                        <div class="card-body">
                            <div id="comments"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
    <div id="wait" style=";width:150px;height:100px;position:fixed;top:50%;left:50%;padding:2px;z-index:99999;"><img src='spinner.gif' width="100" height="100" style="background-color: transparent"/></div>
</div><!-- .content -->
<!-- Right Panel -->

<!-- Modal -->
<div class="modal" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="addCommentModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addCommentModalLabel">Post Comment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="form-control-label">Comment</label><strong style="color:red"> *</strong><span id="comment-error" style="padding-left:50px; text-align: center"></span>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-comment"></i></div>
                            <textarea id="comment" class="form-control" required="required" maxlength="250" placeholder="Add comment"></textarea>
                        </div>
                        <small class="form-text text-muted">Maximum of 250 characters</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="comment()">Comment</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>


<script src="assets/js/lib/data-table/datatables.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="assets/js/lib/data-table/jszip.min.js"></script>
<script src="assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="assets/js/lib/data-table/datatables-init.js"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="js/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.3/jquery.fancybox.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        loadDetails();
    });

    $(document).ajaxStart(function(){
        $("#wait").css("display", "block");
    });

    $(document).ajaxComplete(function(){
        $("#wait").css("display", "none");
    });

    function check(){
        if (localStorage.getItem('role') !== 1){
            jQuery('#car-models').hide();
            jQuery('#new-user').hide();
            jQuery('#models-card').hide();
            jQuery('#user').html(localStorage.getItem("name"));
        }
        else{
            jQuery('#user').html(localStorage.getItem("name"));
        }
    }

    function loadMenus(){
        let modules = {};
        modules = JSON.parse(localStorage.getItem("modules"));
        modules.forEach(function(k, v){
            if (k.menu_name === 'Sub Menu'){
                let main = $.grep(modules, function(e){return e.id === parseInt(k.main_menu);});
                $('#'+$(main[0]['module_tag']).attr('id') + ' > .sub-menu').append(k.module_tag);
            }else if(k.menu_name === 'Main Menu'){
                $('#sidebar').append(k.module_tag);
                $('#'+$(k.module_tag).attr('id')).append('<ul class="sub-menu children dropdown-menu"></ul>');
            }else{
                $('#'+k.module_name).show();
            }
        });
        $.ajax({
            type: "GET",
            url: "/user/all-requests",
            success: function (response) {
                $.each(response, function(k,v){
                    $('#requests-badge').html(v.requests);
                });
            }
        });
        $.ajax({
            type: "GET",
            url: "/user/all-applications",
            success: function (response) {
                $.each(response, function(k,v){
                    $('#applications-badge').html(v.applications);
                });
            }
        });
    }

    function loadComments(comments) {
        if (comments && comments[0]){
            let $comments = $('#comments');
            $comments.html('');
            comments.forEach(function (comment) {
                $comments.append('<div class="row">\n' +
                    '    <div class="col-sm-2">\n' +
                    '        <div class="thumbnail"><img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></div>\n' +
                    '    </div>\n' +
                    '    <div class="col-sm-10">\n' +
                    '        <div class="panel panel-default">\n' +
                    '            <div class="panel-heading"><strong>'+comment.fullname+'</strong> <span class="text-muted">commented on '+comment.date_created+'</span></div>\n' +
                    '            <div class="panel-body">'+comment.text+'</div>\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '</div>');
            });
        } else {
            $.ajax({
                'url': '/user/activity-comments/?activity='+activity_id,
                'type': 'get',
                'success': function (data) {
                    let comments = data,
                        $comments = $('#comments');
                    $comments.html('');
                    if (!comments[0])
                        return $comments.append('<h2 style="margin: auto;">No comments available yet!</h2>');
                    comments.forEach(function (comment) {
                        $comments.append('<div class="row">\n' +
                            '    <div class="col-sm-2">\n' +
                            '        <div class="thumbnail"><img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></div>\n' +
                            '    </div>\n' +
                            '    <div class="col-sm-10">\n' +
                            '        <div class="panel panel-default">\n' +
                            '            <div class="panel-heading"><strong>'+comment.fullname+'</strong> <span class="text-muted">commented on '+comment.date_created+'</span></div>\n' +
                            '            <div class="panel-body">'+comment.text+'</div>\n' +
                            '        </div>\n' +
                            '    </div>\n' +
                            '</div>');
                    });
                },
                'error': function (err) {
                    console.log('Error');
                    swal('No internet connection','','error');
                }
            });
        }
    }

    function comment(){
        let $comment = $("#comment"),
            comment = $comment.val();
        if (!comment || comment === "")
            return swal('Please leave a comment','','warning');
        $('#wait').show();
        $('#addCommentModal').modal('hide');
        $.ajax({
            'url': '/user/save-comment/',
            'type': 'post',
            'data': {comment: comment, commenter: JSON.parse(localStorage.user_obj).ID, activityID: activity_id},
            'success': function (data) {
                $('#wait').hide();
                let comments = data.response;
                results = comments;
                loadDetails();
                $comment.val("");
                swal('Comment saved successfully','','success');
            },
            'error': function (err) {
                $('#wait').hide();
                $comment.val("");
                swal('Oops! An error occurred while saving comment','','error');
            }
        });
    }

    const urlParams = new URLSearchParams(window.location.search);
    const activity_id = urlParams.get('id');
    function loadDetails(){
        $.ajax({
            'url': '/user/activity-details?id='+activity_id,
            'type': 'get',
            'success': function (data) {
                let activity = data.activity_details,
                    $feed = $('#feed');
                $feed.html('');
                if (!activity[0])
                    return $feed.append('<h2 style="margin: auto;">No activity selected!</h2>');
                activity.forEach(function (activity) {
                    let icon = (activity.team === 0) ? '<i class="fa fa-user"></i>' : '<i class="fa fa-users">';
                    $feed.append('<div id="feed'+activity.ID+'" class="row col-sm-12">\n' +
//                        '    <div class="col-sm-2">\n' +
//                        '        <div class="thumbnail" style="border-radius: 50%; width: 100px; height: 100px; background: #9fcdff; text-align: center">' +
//                        '           <div id="name" style="display: inline-block; margin: 0 auto; padding-top: 20px"><h1>UA</h1></div>'+
//                        '        </div>\n' +
//                        '    </div>\n' +
                        '    <div class="col-sm-12" style="padding: 30px">\n' +
                        '        <div class=" col-sm-12" style="background: #e9ecef; padding-left: 10px; border-radius: 4px">\n' +
                        '            <div class="panel-heading">Activity by <span class="text-muted">'+activity.user+'</span></div>\n' +
                        '            <div class="panel-body">'+activity.activity+' '+
                        '               <i class="fa fa-user"></i><span> '+activity.client_name+'</span>&nbsp;|&nbsp;'+
                        '               <i class="fa fa-phone"></i><span> '+activity.client_phone+'</span>&nbsp;|&nbsp;<i class="fa fa-envelope"></i><span> '+activity.client_email+'</span><br/>\n'+
                        '            </div>\n' +
                        '            <div class="panel-footer">'+activity.activity_description+'<br/><span class="text-muted"><small>created on '+(activity.date_created)+'</small></span></div>\n' +
                        '        </div>\n' +
                        '    </div>\n' +
                        '</div><br/>');
                });

                let comments = data.activity_comments,
                    $comments = $('#comments');
                $comments.html('');
                if (!comments[0])
                    return $comments.append('<h2 style="margin: auto;">No comments available yet!</h2>');
                comments.forEach(function (comment) {
                    $comments.append('<div class="row">\n' +
                        '    <div class="col-sm-1">\n' +
                        '        <div class="thumbnail" style="border-radius: 50%; width: 80px; height: 80px; background: #99abb4; text-align: center">' +
                        '           <div id="name" style="display: inline-block; margin: 0 auto; padding-top: 20px"><h1>'+getInitials(comment.maker)+'</h1></div>'+
                        '        </div>\n' +
                        '    </div>\n' +
                        '    <div class="col-sm-11">\n' +
                        '        <div class="panel panel-default">\n' +
                        '            <div class="panel-heading"><strong>'+comment.maker+'</strong> <span class="text-muted">commented on '+comment.date_created+'</span></div>\n' +
                        '            <div class="panel-body">'+comment.comment+'</div>\n' +
                        '        </div>\n' +
                        '    </div>\n' +
                        '</div><br/>');
                });
            },
            'error': function (err) {
                console.log('Error');
                swal('No internet connection','','error');
            }
        });
    }

    function read_write(){
        let w,
            perms = JSON.parse(localStorage.getItem("permissions")),
            page = (window.location.pathname.split('/')[1].split('.'))[0];
        perms.forEach(function (k){
            if (k.module_name === page)
                w = $.grep(perms, function(e){return e.id === parseInt(k.id);});
        });
        if (w && w[0] && (parseInt(w[0]['editable']) !== 1))
            $(".write").hide();

        if (($.grep(perms, function(e){return e.module_name === 'collectPaymentButton';}))[0]['read_only'] === '0')
            $('#collect-payment-button').hide();
        if (($.grep(perms, function(e){return e.module_name === 'uploadCSV2';}))[0]['read_only'] === '0')
            $('#uploadCSV2').hide();
        if (($.grep(perms, function(e){return e.module_name === 'saveCSV2';}))[0]['read_only'] === '0')
            $('#saveCSV2').hide();
        if (($.grep(perms, function(e){return e.module_name === 'approveCSV2';}))[0]['read_only'] === '0')
            $('#approveCSV2').hide();
        if (($.grep(perms, function(e){return e.module_name === 'rejectCSV2';}))[0]['read_only'] === '0')
            $('#rejectCSV2').hide();
        if (($.grep(perms, function(e){return e.module_name === 'close-loan';}))[0]['read_only'] === '0')
            $('#close_loan').hide();
    }

    Number.prototype.roundTo = function(n) {
        return Math.ceil(this/n)*n;
    };

    Number.prototype.round = function(p) {
        p = p || 10;
        return parseFloat( this.toFixed(p) );
    };

    function padWithZeroes(n, width, z) {
        z = z || '0';
        n = n + '';
        return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
    }

    var getInitials = function (name) {
        var parts = name.split(' ')
        var initials = ''
        for (var i = 0; i < parts.length; i++) {
            if (parts[i].length > 0 && parts[i] !== '') {
                initials += parts[i][0]
            }
        }
        return initials
    }

</script>
</body>
</html>
