<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loanratus Admin</title>
    <meta name="description" content="Loanratus Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="assets/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <style type="text/css">
        .todolist{
            background-color:#FFF;
        }
        .todolist h1{
            margin:0;
            padding-bottom:20px;
            text-align:center;
        }
        li.ui-state-default{
            background:#fff;
            border:1px solid #ddd;
            cursor: move;
            padding: 0 15px;
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
        }
        li.ui-state-default:hover{
            background: #efefef;
        }
        li.ui-state-default:last-child{
            border-bottom:none;
        }
        .todo-footer{
            background-color:#F4FCE8;
            padding: 10px 20px;
        }
        #stages-table th:first-child, #stages-table td:first-child{
            display: none;
        }
        a:hover {
            color: #0056b3 !important;
            text-decoration: underline !important;
            cursor: pointer !important;
        }
        li.disabled, option.disabled {
            background: #efefef;
        }
        li.ui-state-default > span > small{
            margin-left: 15px;
        }
        li.ui-state-default > span{
            display: inline-block;
            padding: 15px 0;
        }
        li.ui-state-default > button{
            margin-top: 8px;
        }
        .multiselect-native-select{
            width: 90%;
        }
        .multiselect-native-select div.btn-group, .multiselect-native-select button.multiselect, ul.multiselect-container{
            width: 100%;
        }
        .multiselect-native-select button.multiselect{
            background: #ffffff;
            color: #495057;
            border: 1px solid #ced4da;
            border-radius: .25rem;
        }
        .edit-item{
            pointer-events: auto;
            margin-right: 5px;
        }
        .disabled{
            pointer-events:none;
        }
    </style>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
</head>
<body>
    <!-- Left Panel -->
    <script type="text/javascript">
        jQuery(document).ready(function($){
            check(); loadMenus(); read_write();
            localStorage.list_index = '';
            localStorage.list_type = '';

            let $sortable = $("#sortable");
            $sortable.sortable();
            $sortable.disableSelection();
            localStorage.removeItem('local_stages');

            countTodos();

            // all done btn
            $("#checkAll").click(function(){
                AllDone();
            });

            //mark all tasks as done
            function AllDone(){
                let count = $sortable.find("li").length;
                for (let i=count-3; i>0; i--)
                    $sortable.find('li:eq('+i+')').remove();
                countTodos();
            }

            //create todo
            $('#add-stage').click(function (e) {
                e.preventDefault;
                if($('.add-todo').val() !== ''){
                    addStage();
                }else{
                    swal('Kindly fill all required fields!');
                }
            });

            function addStage(id) {
                let stage = {},
                    action_ids = [],
                    action_names = [],
                    stage_template = $('#stage-template').val(),
                    documents = $('.document-upload-text').map(function() {
                        if (this.value) return this.value;
                    }).get(),
                    actions = $('.local-stages-new').map(function() {
                        if (this.value && (this.value !== '-- Choose Action --'))
                            return this.value;
                    }).get();
                stage.name = $('#stage-name').val();
                stage.description = $('#stage-description').val();
                stage.approverID = $('#process-rights').val();
                if (!stage.name || stage_template === "-- Choose Action --" || stage.approverID === null || !actions || !actions[0])
                    return swal('Kindly fill all required fields!');
                stage.approverID = stage.approverID.join(',');
                if (documents && documents[0])
                    stage.document = documents.join(',');
                if (actions[0]){
                    $.each(actions, function (key, val) {
                        let action = JSON.parse(decodeURIComponent(val));
                        action_ids.push(action.ID);
                        action_names.push(action.name);
                        if (key === actions.length-1){
                            if (action_ids[0])
                                stage.actions = action_ids.join(',');
                            if (action_names[0])
                                stage.action_names = action_names;
                            let stage_template_json = JSON.parse(decodeURIComponent(stage_template));
                            stage.stageID = stage_template_json.ID || stage_template_json.stageID;
                            stage.stage_name = stage_template_json.name;
                            createTodo(stage,id);
                            countTodos();
                        }
                    });
                }
            }

            $('.todolist').on('click','.edit-item-enabled',function(){
                localStorage.list_type = 'enabled';
            });

            $('.todolist').on('click','.edit-item-disabled',function(){
                localStorage.list_type = 'disabled';
            });

            function enableTransitionInputs() {
                $('#stage-name').prop('disabled',false);
                $('#stage-template').prop('disabled',false);
                $('.local-stages-new').prop('disabled',false);
                $('#more-actions-link').removeClass('disabled');
                $('#stage-action-div').find('.fa-times').show();
                $('.document-upload-text').prop('disabled',false);
                $('#document-upload').removeClass('disabled');
                $('#document-upload-div').find('.fa-times').show();
            }

            function disableTransitionInputs() {
                $('#stage-name').prop('disabled',true);
                $('#stage-template').prop('disabled',true);
                $('.local-stages-new').prop('disabled',true);
                $('#more-actions-link').addClass('disabled');
                $('#stage-action-div').find('.fa-times').hide();
                $('.document-upload-text').prop('disabled',true);
                $('#document-upload').addClass('disabled');
                $('#document-upload-div').find('.fa-times').hide();
            }

            //load edit task
            $('.todolist').on('click','.edit-item',function(){
                $('#edit-stage').show();
                $('#add-stage').hide();
                $('#stage-action-div').html('');
                $('#document-upload-div').html('');

                let stage = JSON.parse(decodeURIComponent(this.id));
                $('#stage-name').val(stage.name);
                $('#stage-template').val($('#stage-template').find('option').filter(function () { return $(this).html() === stage.stage_name; }).val());
                $('#process-rights').val(stage.approverID.split(','));
                refreshMultiselect();
                if (stage.actions) {
                    let count = 0,
                        actions_array = stage.actions.split(',');
                    actions_array.forEach(function (action_id) {
                        let action = ($.grep(JSON.parse(localStorage.stages), function (e) {return e.ID === parseInt(action_id);}))[0];
                        count++;
                        $("#stage-action-div").append('<div class="input-group" style="margin-bottom: 15px;">\n' +
                            '<select id="action-name-'+count+'" class="form-control local-stages-new"><option selected="selected" value="-- Choose Action --">-- Choose Action --</option>' +
                            '</select><i class="fa fa-times" style="margin: 10px; color: #dc3545;" onclick="removeAction(this)"></i></div>');
                        getLocalStages();
                        $('#action-name-'+count).val($('#action-name-'+count).find('option').filter(function () { return $(this).html() === action.name; }).val());
                    });
                } else if (stage.action_names && stage.action_names[0]){
                    let count = 0;
                    stage.action_names.forEach(function (action) {
                        count++;
                        $("#stage-action-div").append('<div class="input-group" style="margin-bottom: 15px;">\n' +
                            '<select id="action-name-'+count+'" class="form-control local-stages-new"><option selected="selected" value="-- Choose Action --">-- Choose Action --</option>' +
                            '</select><i class="fa fa-times" style="margin: 10px; color: #dc3545;" onclick="removeAction(this)"></i></div>');
                        getLocalStages();
                        $('#action-name-'+count).val($('#action-name-'+count).find('option').filter(function () { return $(this).html() === action; }).val());
                    });
                }
                if (stage.document) {
                    let count = 0,
                        documents_array = stage.document.split(',');
                    documents_array.forEach(function (document) {
                        count++;
                        $("#document-upload-div").append('<div class="input-group" style="margin-bottom: 15px;">\n' +
                            '    <div class="input-group-addon"><i class="fa fa-upload"></i></div>\n' +
                            '    <input id="document-name-'+count+'" type="text" class="form-control document-upload-text" placeholder="Document Upload Caption" max="50">\n' +
                            '<i class="fa fa-times" style="margin: 10px; color: #dc3545;" onclick="removeDocumentAction(this)"></i></div>');
                        $('#document-name-'+count).val(document);
                    });
                }
                localStorage.list_index = $(this).parent().index();
                if (localStorage.list_type === 'enabled'){
                    enableTransitionInputs();
                } else if (localStorage.list_type === 'disabled'){
                    disableTransitionInputs();
                }
            });

            //edit todo
            $('#edit-stage').click(function (e) {
                e.preventDefault;
                addStage(localStorage.list_index);
            });

            //delete done task from "already done"
            $('.todolist').on('click','.remove-item',function(){
                removeItem(this);
            });

            // count tasks
            function countTodos(){
                let count = $sortable.find("li").length;
                $('.count-todos').html(count);
            }

            //create task
            window.createTodo = function (stage,id){
                let markup = '',
                    count = parseInt($sortable.find("li").length);
                if (id && localStorage.list_type === 'disabled'){
                    markup = '<li class="ui-state-default disabled"><span>'+stage.name+' <small> '+stage.stage_name+' → '+stage.action_names.join(" → ")+'</small></span> <input class="stage-items" value="'+encodeURIComponent(JSON.stringify(stage))+'" style="display: none;"/>' +
                        '<button class="edit-item edit-item-disabled btn btn-outline-info btn-xs pull-right" id="'+encodeURIComponent(JSON.stringify(stage))+'" data-toggle="modal" data-target="#addStage"><span class="fa fa-edit"></span></button></li>';
                } else {
                    if (stage.action_names){
                        markup = '<li class="ui-state-default"><span>'+stage.name+' <small> '+stage.stage_name+' → '+stage.action_names.join(" → ")+'</small></span> <input class="stage-items" value="'+encodeURIComponent(JSON.stringify(stage))+'" style="display: none;"/>' +
                            '<button class="remove-item btn btn-outline-danger btn-xs pull-right" id="'+stage.name+'"><span class="fa fa-trash"></span></button><button class="edit-item edit-item-enabled btn btn-outline-info btn-xs pull-right" id="'+encodeURIComponent(JSON.stringify(stage))+'" data-toggle="modal" data-target="#addStage"><span class="fa fa-edit"></span></button></li>';
                    } else {
                        markup = '<li class="ui-state-default"><span>'+stage.name+'</span> <input class="stage-items" value="'+encodeURIComponent(JSON.stringify(stage))+'" style="display: none;"/>' +
                            '<button class="remove-item btn btn-outline-danger btn-xs pull-right" id="'+stage.name+'"><span class="fa fa-trash"></span></button><button class="edit-item edit-item-enabled btn btn-outline-info btn-xs pull-right" id="'+encodeURIComponent(JSON.stringify(stage))+'" data-toggle="modal" data-target="#addStage"><span class="fa fa-edit"></span></button></li>';
                    }
                }
                if (id){
                    if (id < count-1){
                        $sortable.find('li:eq('+id+')').remove();
                        $sortable.find('li:eq('+id+')').before(markup);
                    } else {
                        $sortable.find('li:eq('+id+')').before(markup);
                        $sortable.find('li:eq('+count+')').remove();
                    }
                } else {
                    $sortable.find('li:eq('+(count-2)+')').before(markup);
                }
                clearStageInputs();
                resetMultiselect();
                getLocalStages();
            };

            function clearStageInputs() {
                $('#document-upload').prop('checked',false);
                $('#document-upload-div').html('');
                $('#stage-description').val('');
                $('#stage-action-div').html('');
                $('#stage-template').val('-- Choose Action --');
                $('#stage-name').val('');
                resetMultiselect();
            }

            $('#addTransition').on('click',function(){
                enableTransitionInputs();
                $('#edit-stage').hide();
                $('#add-stage').show();
                clearStageInputs();
            });

            //remove done task from list
            function removeItem(element){
                $(element).parent().remove();
                countTodos();
            }
        });
    </script>

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/dashboard">Loanratus</a>
                <a class="navbar-brand hidden" href="/dashboard">35</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul id="sidebar" class="nav navbar-nav">
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <strong id="user" style="margin-right:10px; vertical-align: sub"></strong>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                                <!-- <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                                <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a> -->

                            <a class="nav-link pull-right" href="#" onclick="logout()"><i class="fa fa-power-off"></i> Logout</a>
                            <script type="text/javascript">
                                function logout() {
                                    localStorage.login = "0";
                                    window.location.href = "/logout";
                                }
                            </script>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Loan Workflow</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Users</a></li>
                            <li class="active">Loan Workflow</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div id="user-form" class="col-xs-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Add Loan Process</strong> <small> Workflow Information</small>
                            </div>
                            <div class="card-body card-block">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Workflow Name <strong style="color:red"> *</strong></label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-11 input-group">
                                                <div class="input-group-addon"><i class="fa fa-sticky-note"></i></div>
                                                <input id="process-name" class="form-control" required="required">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Workflow Transitions <strong style="color:red"> *</strong></label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-11">
                                                <button id="addTransition" class="btn btn-outline-dark" data-toggle="modal" data-target="#addStage"><i class="fa fa-plus"></i>Add Transition</button>
                                                <button id="checkAll" class="btn btn-danger"><i class="fa fa-remove"></i>Clear Transition</button>
                                            </div>
                                            <div class="col-sm-11" style="margin-top: 15px;">
                                                <div class="alert alert-info" role="alert" data-original-title="" title="">A transition defines a change in your workflow from one stage to another. View transitions below. You can also <strong>drag and drop</strong> to re-order.</div>
                                            </div>
                                            <div class="col-sm-11 todolist">
                                                <ul id="sortable" class="list-unstyled"></ul>
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="todo-footer">
                                                    Number of Transition(s): <strong><span class="count-todos"></span></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class = "form-group">
                                    <input type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" value="Add New Workflow" onclick="addProcess()"/><span id="submit-error" style="padding-left:50px; text-align: center"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
            <div id="wait" style=";width:150px;height:100px;position:fixed;top:50%;left:50%;padding:2px;z-index:99999;"><img src='spinner.gif' width="100" height="100" style="background-color: transparent"/></div>
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Modal -->
    <div class="modal fade" id="addStage" tabindex="-1" role="dialog" aria-labelledby="addStageLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addStageLabel">New Transition</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="form-control-label">Transition Name</label><strong style="color:red"> *</strong><span id="stage-name-error" style="padding-left:50px; text-align: center"></span>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-list"></i></div>
                                <input id="stage-name" type="text" class="form-control add-todo" placeholder="Transition Name" maxlength="50" required="required">
                            </div>
                            <small class="form-text text-muted">Maximum of 50 characters</small>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="form-control-label">Transition Description</label><span id="stage-description-error" style="padding-left:50px; text-align: center"></span>-->
                            <!--<div class="input-group">-->
                                <!--<textarea id="stage-description" class="form-control" placeholder="Transition Description" maxlength="250"></textarea>-->
                            <!--</div>-->
                            <!--<small class="form-text text-muted">Maximum of 250 characters</small>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="form-control-label">Start Stage</label><strong style="color:red"> *</strong>
                            <div class="input-group">
                                <select id="stage-template" class="form-control" required="required">
                                    <option selected="selected">-- Choose Action --</option>
                                </select>
                            </div>
                            <small class="form-text text-muted">Select the relevant template from the list of actions</small>
                        </div>
                        <div class="form-group">
                            <a id="more-actions-link">
                                <label class="form-control-label">
                                    <i class="fa fa-plus"></i> Next Stage(s)</label><strong style="color:red"> *</strong></a>
                            <div id="stage-action-div"></div>
                            <small class="form-text text-muted">Select other actions that can be performed at this stage</small>
                        </div>
                        <script type="text/javascript">
                            $("#more-actions-link").click(function() {
                                $("#stage-action-div").append('<div class="input-group" style="margin-bottom: 15px;">\n' +
                                    '<select class="form-control local-stages-new"><option selected="selected">-- Choose Action --</option>' +
                                    '</select><i class="fa fa-times" style="margin: 10px; color: #dc3545;" onclick="removeAction(this)"></i></div>');
                                getLocalStages();
                            });
                            function removeAction(element) {
                                $(element).parent().remove();
                            }
                        </script>
                        <div class="form-group">
                            <label class="col-form-label">Approval Rights <strong style="color:red"> *</strong></label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <select id="process-rights" class="multiselect-ui form-control" multiple="multiple" required="required"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Rules</label>
                            <div class="input-group">
                                <a id="document-upload">
                                    <label class="form-control-label" style="display: block">
                                        <i class="fa fa-plus"></i> Document Upload Required
                                        </label></a><small class="form-text text-muted">&nbsp; (Maximum of 50 characters)</small>
                            </div>
                        </div>
                        <div class="form-group" id="document-upload-div"></div>
                        <script type="text/javascript">
                            $("#document-upload").click(function() {
                                $("#document-upload-div").append('<div class="input-group" style="margin-bottom: 15px;">\n' +
                                    '    <div class="input-group-addon"><i class="fa fa-upload"></i></div>\n' +
                                    '    <input type="text" class="form-control document-upload-text" placeholder="Document Upload Caption" max="50">\n' +
                                    '<i class="fa fa-times" style="margin: 10px; color: #dc3545;" onclick="removeDocumentAction(this)"></i></div>');
                            });
                            function removeDocumentAction(element) {
                                $(element).parent().remove();
                            }
                        </script>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="add-stage" type="button" class="btn btn-primary" data-dismiss="modal">Add Transition</button>
                    <button id="edit-stage" type="button" class="btn btn-primary" data-dismiss="modal" style="display: none;">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>


    <script src="assets/js/lib/data-table/datatables.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/jszip.min.js"></script>
    <script src="assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="assets/js/lib/data-table/datatables-init.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            getStages();
            getRoles();
        });

        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });

        $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
        });

        function resetMultiselect() {
            $('#process-rights').multiselect("clearSelection");
        }

        function refreshMultiselect() {
            $('#process-rights').multiselect("refresh");
        }

        function check(){
            if (localStorage.getItem('role') !== 1){
                jQuery('#car-models').hide();
                jQuery('#new-user').hide();
                jQuery('#models-card').hide();
                jQuery('#user').html(localStorage.getItem("name"));
            }
            else{
                jQuery('#user').html(localStorage.getItem("name"));
            }
        }

        function loadMenus(){
            let modules = {};
            modules = JSON.parse(localStorage.getItem("modules"));
            modules.forEach(function(k, v){
                if (k.menu_name === 'Sub Menu'){
                    let main = $.grep(modules, function(e){return e.id === parseInt(k.main_menu);});
                    $('#'+$(main[0]['module_tag']).attr('id') + ' > .sub-menu').append(k.module_tag);
                }else if(k.menu_name === 'Main Menu'){
                    $('#sidebar').append(k.module_tag);
                    $('#'+$(k.module_tag).attr('id')).append('<ul class="sub-menu children dropdown-menu"></ul>');
                }else{
                    $('#'+k.module_name).show();
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-requests",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#requests-badge').html(v.requests);
                    });
                }
            });
            $.ajax({
                type: "GET",
                url: "/user/all-applications",
                success: function (response) {
                    $.each(response, function(k,v){
                        $('#applications-badge').html(v.applications);
                    });
                }
            });
        }

        function read_write(){
            let w;
            var perms = JSON.parse(localStorage.getItem("permissions"));
            var page = (window.location.pathname.split('/')[1].split('.'))[0];
            perms.forEach(function (k,v){
                if (k.module_name === page){
                    w = $.grep(perms, function(e){return e.id === parseInt(k.id);});
                }
            });
            if (w && w[0] && (parseInt(w[0]['editable']) !== 1)){
                $(".write").hide();
            }
        }

        function getLocalStages(){
            let $local_stages = $(".local-stages-new"),
                count = $("#sortable").find("li").length;
            $('.count-todos').html(count);

            $local_stages.html('<option selected="selected">-- Choose Action --</option>');
            $.each(JSON.parse(localStorage.getItem('stages')), function (key, val) {
                if (val.name === 'Application Start'){
                    $local_stages.append('<option class="disabled" disabled="disabled" value = "'+encodeURIComponent(JSON.stringify(val))+'">'+val.name+'</option>');
                } else {
                    $local_stages.append('<option value = "'+encodeURIComponent(JSON.stringify(val))+'">'+val.name+'</option>');
                }
            });
        }

        function getRoles(){
            $.ajax({
                type: "GET",
                url: "/user/user-roles/",
                success: function (response) {
                    $.each(JSON.parse(response), function (key, val) {
                        $("#process-rights").append('<option value = "'+val.id+'">'+val.role_name+'</option>');
                    });
                    $('#process-rights').multiselect({
                        includeSelectAllOption: true
                    });
                }
            });
        }

        function getStages(){
            $.ajax({
                type: "GET",
                url: "/stages",
                success: function (response) {
                    let local_stages = [],
                        stages = JSON.parse(JSON.stringify(response));
                    localStorage.setItem('stages',JSON.stringify(stages));
                    $.each(response, function (key, val) {
                        if (val.type === 1){
                            val.approverID = '1';
                            val.stageID = val.ID;
                            delete val.ID;
                            val.stage_name = val.name;
                            local_stages.push(val);
                        }
                        if (val.name === 'Disbursal'){
                            $("#stage-template").append('<option class="disabled" value = "'+encodeURIComponent(JSON.stringify(val))+'">'+val.name+'</option>');
                        } else {
                            $("#stage-template").append('<option value = "'+encodeURIComponent(JSON.stringify(val))+'">'+val.name+'</option>');
                        }
                        if (key === response.length-1){
                            let local_stages_sorted = local_stages.sort(function(a, b) { return a.stageID - b.stageID; });
                            localStorage.setItem('local_stages', JSON.stringify(local_stages_sorted));
                            $.each(local_stages_sorted, function (key, val) {
                                let stage_name, action_names;
                                switch (val.name){
                                    case 'Application Start':{
                                        stage_name = "N/A";
                                        action_names = ['Application Start']; break;
                                    }
                                    case 'Final Approval':{
                                        stage_name = "Final Approval";
                                        action_names = ['Disbursal']; break;
                                    }
                                    case 'Disbursal':{
                                        stage_name = "Disbursal";
                                        action_names = ['Disbursed']; break;
                                    }
                                }
                                val.action_names = action_names;
                                let markup = '<li class="ui-state-default disabled"><span>'+val.name+' <small> '+stage_name+' → '+action_names.join(" → ")+'</small></span><input class="stage-items" value="' + encodeURIComponent(JSON.stringify(val)) + '" style="display: none;"/>' +
                                    '<button class="edit-item edit-item-disabled btn btn-outline-info btn-xs pull-right" id="'+encodeURIComponent(JSON.stringify(val))+'" data-toggle="modal" data-target="#addStage"><span class="fa fa-edit"></span></button></li>';
                                $('#sortable').append(markup);
                                if (key === local_stages_sorted.length-1)
                                    return getLocalStages();
                            });
                        }
                    });
                }
            });
        }
        
        function addProcess() {
            let stages,
                data = {},
                workflow = {};
            workflow.name = $('#process-name').val();
            stages = $('.stage-items').map(function() {
                return JSON.parse(decodeURIComponent(this.value));
            }).get();

            if (!workflow.name || !stages[0])
                return swal('Kindly fill all required fields!');
            data.workflow = workflow;
            data.stages = stages;
            if (($.grep(data.stages,function(e){return e.stage_name==='Application Start'})).length > 1)
                data.stages.shift();

            $('#wait').show();
            $.ajax({
                type: 'POST',
                url: '/workflows',
                data: data,
                success: function (data) {
                    localStorage.removeItem('local_stages');
                    $('#process-name').val("");
                    $('#wait').hide();
                    swal(data.message);
                    window.location.href = "/all-workflow";
                },
                'error': function (err) {
                    console.log('Error');
                    $('#wait').hide();
                    swal('No internet connection','','error');
                }
            });
        }
    </script>
</body>
</html>
