<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loanratus Admin</title>
    <meta name="description" content="Loanratus Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/scss/style.css">
    <link rel="stylesheet" href="assets/css/lib/chosen/chosen.min.css">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>

    <!-- <script>
        $(function () {
            // when the modal is closed
            $('#myModal').on('hidden.bs.modal', function () {
                // remove the bs.modal data attribute from it
                $(this).removeData('bs.modal');
                // and empty the modal-content element
                $('#myModal .modal-content span').empty();
                $('#myModal .modal-footer span').empty();
                $('#myModal input').val("");
            });
        });
    </script> -->
</head>

<body>
    <!-- Left Panel -->
    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="../../menus/menu-items.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            check();
            loadMenus();
            read_write();
        });
    </script>

    <style>
        #regForm {
        background-color: rgba(255, 255, 255, 0.44);
        /*margin: 100px auto;*/
        padding: 20px;
        /*width: 70%;*/
        /*!*min-width: 300px;*!*/
    }   
</style>

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/dashboard">Loanratus</a>
                <a class="navbar-brand hidden" href="/dashboard">LR</a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul id="sidebar" class="nav navbar-nav"></ul>
            </div>
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <strong id="user" style="margin-right:10px; vertical-align: sub"></strong>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link pull-right" href="#" onclick="logout()"><i class="fa fa-power-off"></i>
                                Logout</a>
                            <script type="text/javascript">
                                function logout() {
                                    localStorage.login = "0";
                                    window.location.href = "/logout";
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Investment Product</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Investment</a></li>
                            <li id="li_sub_dir" class="active">New Product</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">

                    <div id="user-form" class="col-xs-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong id="new_edit">Configure Investment Product</strong>
                            </div>
                            <div class="card-body card-block">
                                <div id="regForm" action="user/new-client" method="post">

                                    <!-- One "tab" for each step in the form: -->
                                    <div class="tab">
                                        <div class="panel push-down">
                                            <div class="panel-body">
                                                <div class="example-box-wrapper">
                                                    <h6>Product</h6>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label">Name<span class="text-danger">*</span></label>
                                                            <div class="input-group">
                                                                <input type="text" id="product_name" class="form-control imp"
                                                                    placeholder="Product Name" tabindex="1" required="">
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label">Code</label>
                                                            <div class="input-group">
                                                                <input type="text" id="product_code" class="form-control"
                                                                    placeholder="Product Code">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel push-down">
                                            <div class="panel-body">

                                                <div class="example-box-wrapper">
                                                    <h6>Investment Amount</h6>
                                                    <hr><br>
                                                    <div class="row">

                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label">Min. Amount <span class="text-danger">*</span></label>
                                                            <div class="input-group">
                                                                <input type="text" id="product_investment_amount_min"
                                                                    class="form-control imp" placeholder="Minimum Amount"
                                                                    min="0">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label">Max. Amount <span class="text-danger">*</span></label>
                                                            <div class="input-group">
                                                                <input type="text" id="product_investment_amount_max"
                                                                    class="form-control imp" placeholder="Maximum Amount"
                                                                    min="0">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label">Charges on Investment
                                                                <span class="text-danger">*</span></label>
                                                            <div class="input-group">
                                                                <input type="text" id="saving_fees" class="form-control imp"
                                                                    placeholder="Deposit Charge" min="0">
                                                                <select id="opt_on_deposit" class="form-control"
                                                                    required="required">
                                                                    <option value="Fixed" selected="selected">Fixed</option>
                                                                    <option value="Percentage">Percentage</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel push-down">
                                            <div class="panel-body">

                                                <div class="example-box-wrapper">
                                                    <h6>Minimum Balance</h6>
                                                    <hr><br>
                                                    <div class="row">

                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label"> Amount <span class="text-danger">*</span></label>
                                                            <div class="input-group">
                                                                <input type="text" id="minimum_bal" class="form-control imp"
                                                                    placeholder="Minimum Amount" min="0.00">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label"><input type="checkbox" id="chk_min_bal_penalty">
                                                                Penalty Amount</label>
                                                            <span class="text-danger" style="font-size: 1.0em">(below
                                                                minimum balance)</span>
                                                            <div class="input-group">
                                                                <input type="text" id="minimum_bal_penalty_amount" name="minimum_bal_penalty_amount"
                                                                    class="form-control imp" placeholder="Penalty Charge"
                                                                    min="0" disabled>
                                                                <select id="opt_on_minimum_bal_penalty_amount" class="form-control"
                                                                    disabled required="required">
                                                                    <option value="Fixed" selected="selected">Fixed</option>
                                                                    <option value="Percentage">Percentage</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel push-down">
                                            <div class="panel-body">

                                                <div class="example-box-wrapper">
                                                    <h6>Maturity Term <input type="checkbox" id="chk_maturity_term"></h6>
                                                    <hr><br>
                                                    <div class="row">
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label"> Min. Term(Month) </label>
                                                            <div class="input-group">
                                                                <input type="number" id="min_term" class="form-control imp"
                                                                    placeholder="Minimum Term" min="0" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label"> Max. Term(Month) </label>
                                                            <div class="input-group">
                                                                <input type="number" id="max_term" class="form-control imp"
                                                                    placeholder="Max. Term" min="0" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label"><input type="checkbox" id="forfeit_interest_on_withdrawal">Penalty
                                                                for Premature
                                                                Investment </label>
                                                            <div class="input-group">
                                                                <input type="text" id="charge_interest_on_withdrawal"
                                                                    class="form-control imp" placeholder="Penalty Charge"
                                                                    min="0" disabled>
                                                                <select id="opt_on_charge_interest_on_withdrawal" class="form-control"
                                                                    required="required" disabled>
                                                                    <option value="Fixed" selected="selected">Fixed</option>
                                                                    <option value="Percentage">Percentage</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel push-down">
                                            <div class="panel-body">
                                                <div class="example-box-wrapper">
                                                    <h6>Wallet <input type="checkbox" id="chk_wallet"></h6>
                                                    <hr><br>
                                                    <div class="row">
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <input type="checkbox" id="acct_allows_withdrawal" disabled>
                                                            <label class="form-control-label">This acct allows
                                                                withdrawal</label>
                                                        </div>

                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <input type="checkbox" id="inv_moves_wallet" disabled>
                                                            <label class="form-control-label">On maturity Investment
                                                                moves to wallet acct.</label>
                                                        </div>
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <input type="checkbox" id="interest_moves_wallet" disabled>
                                                            <label class="form-control-label">Interest always moves to
                                                                wallet acct.</label>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel push-down">
                                            <div class="panel-body">
                                                <div class="example-box-wrapper">
                                                    <h6>Interest <input type="checkbox" id="chk_interest_rate"></h6>
                                                    <hr><br>
                                                    <div class="row">
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label">Interest Rate(%)</label>
                                                            <div class="input-group">
                                                                <input type="text" id="interest_rate" class="form-control imp"
                                                                    placeholder="Interest Rate" min="0" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label">Interest Payment Circle</label>
                                                            <div class="input-group">
                                                                <select id="condition_for_interest" class="form-control"
                                                                    required="required" disabled>
                                                                    <option value="0" selected="selected">-- Select --</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label">Premature Interest Rate</label>
                                                            <div class="input-group">
                                                                <input type="text" id="premature_interest_rate" class="form-control imp"
                                                                    placeholder="Penalty Charge" min="0" disabled>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel push-down">
                                            <div class="panel-body">

                                                <div class="example-box-wrapper">
                                                    <h6>Freq. of Withdrawal</h6>
                                                    <hr><br>
                                                    <div class="row">
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label"> Count (e.g: 3 Times of)</label>
                                                            <div class="input-group">
                                                                <input type="number" id="withdrawal_conditions_value"
                                                                    class="form-control imp" placeholder="Count" min="0">
                                                            </div>
                                                            <div><input type="checkbox" id="chk_enforce_count">Enforce
                                                                Count</div>
                                                        </div>
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label"> Duration
                                                            </label>
                                                            <div class="input-group">
                                                                <select id="withdrawal_charge_duration" class="form-control"
                                                                    required="required">
                                                                    <option value="0" selected="selected">-- Select --</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label">Charge For Exceeding
                                                                Freq.</label>
                                                            <div class="input-group">
                                                                <input type="text" id="withdrawal_charge_freq" class="form-control imp"
                                                                    placeholder="Freq. Charge" data-mask="#,##0.00">
                                                                <select id="opt_on_freq_charge" class="form-control"
                                                                    required="required">
                                                                    <option value="Fixed" selected="selected">Fixed</option>
                                                                    <option value="Percentage">Percentage</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel push-down">
                                            <div class="panel-body">

                                                <div class="example-box-wrapper">
                                                    <h6>Termination Notice <input type="checkbox" id="chk_liquidation"></h6>
                                                    <hr><br>
                                                    <div class="row">
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label"> Min. Day(s) </label>
                                                            <div class="input-group">
                                                                <input type="number" id="min_days_termination" class="form-control imp"
                                                                    placeholder="Min. Day(s)" min="0" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-4 col-md-4">
                                                            <label class="form-control-label">Impromptu Charge
                                                                (Less than termination day(s))</label>
                                                            <div class="input-group">
                                                                <input type="text" id="min_days_termination_charge"
                                                                    class="form-control imp" placeholder="Charge" min="0"
                                                                    disabled>
                                                                <select id="opt_on_min_days_termination" class="form-control"
                                                                    disabled required="required">
                                                                    <option value="Fixed" selected="selected">Fixed</option>
                                                                    <option value="Percentage">Percentage</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="overflow:auto;">
                                        <div style="float:right;">
                                            <button class="btn btn-success" id="btnSaveProduct" type="button" onclick="set_investment_product()">Create
                                                New Product</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- .animated -->
            <div id="wait" style=";width:150px;height:100px;position:fixed;top:50%;left:50%;padding:2px;z-index:99999;"><img
                    src='spinner.gif' width="100" height="100" style="background-color: transparent" /></div>
        </div><!-- .content -->


    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/lib/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="global-params.js"></script>
    <script src="./js/money-formater.js"></script>
    <script type="text/javascript" src="../../investment/add-product/investment-products.js"></script>
</body>

</html>