<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loanratus Admin</title>
    <meta name="description" content="Loanratus Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets/scss/style.css">
    <link rel="stylesheet" href="assets/css/lib/chosen/chosen.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <style type="text/css">
        .select2-container{
            width: 92% !important;
        }
        .select2-selection{
            height: 100% !important;
            border: 1px solid #ced4da !important;
            border-radius: .25rem !important;
            color: #495057 !important;
        }
        .pb-0{
            text-align: center;
        }
        .alert-success, .alert-success p {color: #155724;}
        table{width: 100%;}
        table th{text-align: center;}
    </style>
</head>
<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel" include-html="/includes/sidebar.html"></aside><!-- /#left-panel -->
<!-- Left Panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header" include-html="/includes/header.html"></header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Process Recommendation</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Users</a></li>
                        <li class="active">Process Recommendation</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">

            <div class="row">

                <div id="user-form" class="col-xs-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong id="client-text"></strong> <small> Loan Information</small>
                            <button id="disbursePreapprovedLoan" class="btn btn-sm btn-success write" style="float: right; display: none;"
                                    data-toggle="modal" data-target="#disburseModal">Disburse
                                <i class="fa fa-check"></i></button>
                            <button id="deletePreapprovedLoan" class="btn btn-sm btn-danger write" style="float: right;">Delete
                            <i class="fa fa-trash"></i></button>
                        </div>
                        <div class="card-body card-block">
                            <div style="padding: 20px;">
                                <div class="tab">
                                    <div class="panel push-down">
                                        <div class="panel-body">
                                            <div class="example-box-wrapper">
                                                <h6>Basic Details</h6>
                                                <hr>
                                                <div class="row setup-content">
                                                    <div class="col-sm-3">
                                                        <div class="card text-white bg-flat-color-1">
                                                            <div class="card-body pb-0">
                                                                <h3 id="loan-amount-text" class="mb-0"></h3>
                                                                <p class="text-light">Loan Amount</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="card text-white bg-flat-color-1">
                                                            <div class="card-body pb-0">
                                                                <h3 id="credit-score-text" class="mb-0"></h3>
                                                                <p class="text-light">Credit Score</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="card text-white bg-flat-color-1">
                                                            <div class="card-body pb-0">
                                                                <h3 id="default-frequency-text" class="mb-0"></h3>
                                                                <p class="text-light">Default Frequency</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div id="status-expired-text" class="card text-white bg-flat-color-2" style="display: none;">
                                                            <div class="card-body pb-0">
                                                                <h3 class="mb-0">Expired</h3>
                                                                <p class="text-light">Status</p>
                                                            </div>
                                                        </div>
                                                        <div id="status-approved-text" class="card text-white bg-flat-color-3" style="display: none;">
                                                            <div class="card-body pb-0">
                                                                <h3 class="mb-0">Approved</h3>
                                                                <p class="text-light">Status</p>
                                                            </div>
                                                        </div>
                                                        <div id="status-declined-text" class="card text-white bg-flat-color-4" style="display: none;">
                                                            <div class="card-body pb-0">
                                                                <h3 class="mb-0">Declined</h3>
                                                                <p class="text-light">Status</p>
                                                            </div>
                                                        </div>
                                                        <div id="status-rejected-text" class="card text-white bg-flat-color-4" style="display: none;">
                                                            <div class="card-body pb-0">
                                                                <h3 class="mb-0">Rejected</h3>
                                                                <p class="text-light">Status</p>
                                                            </div>
                                                        </div>
                                                        <div id="status-accepted-text" class="card text-white bg-flat-color-5" style="display: none;">
                                                            <div class="card-body pb-0">
                                                                <h3 class="mb-0">Accepted</h3>
                                                                <p class="text-light">Status</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel push-down">
                                        <div class="panel-body">
                                            <div class="example-box-wrapper">
                                                <h6>Reason</h6>
                                                <hr>
                                                <div id="reason" class="alert alert-success" role="alert"></div>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel push-down">
                                        <div class="panel-body">
                                            <div class="example-box-wrapper">
                                                <h6>Loan Application</h6>
                                                <hr>
                                                <p id="schedule-error-message" style="display: none;"></p>
                                                <div class="row">
                                                    <div class="col-sm-6 form-group">
                                                        <label class="col-form-label">Select Client <strong style="color:red"> *</strong></label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                                            <select id="user-list" class="form-control" required="required">
                                                                <option selected="selected">-- Choose Client --</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label class="col-form-label">Select Loan Process <strong style="color:red"> *</strong></label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-line-chart"></i></div>
                                                            <select id="workflows" class="form-control" required="required">
                                                                <option selected="selected">-- Choose Workflow --</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label class="form-control-label">Loan Requested</label><strong style="color:red"> *</strong><span id="amount-error" style="padding-left:50px; text-align: center"></span>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                                            <input type="text" id="amount" class="form-control" required="required" value="50,000" min="1" max="100000000">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label class="form-control-label">Interest Rate</label><strong style="color:red"> *</strong><span id="interest-rate-error" style="padding-left:50px; text-align: center"></span>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-plus"></i></div>
                                                            <input type="text" id="interest-rate" class="form-control" required="required" value="120" min="1" max="1000">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label class="form-control-label">Tenor (monthly)</label><strong style="color:red"> *</strong><span id="term-error" style="padding-left:50px; text-align: center"></span>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                                            <input type="text" id="term" class="form-control" required="required" value="12" min="1" max="60">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label class="form-control-label">First Repayment Date</label><span id="repayment-date-error" style="padding-left:50px; text-align: center"></span>
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                                            <input type="date" id="repayment-date" class="form-control" required="required">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div id="loanSchedule" style="margin: 30px 0;"></div>
                                                    </div>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel push-down">
                                        <div class="panel-body">
                                            <div class="example-box-wrapper">
                                                <h6>Remita Direct Debit Setup</h6>
                                                <hr>
                                                <div class="row setup-content">
                                                    <div class="col-sm-12">
                                                        <div width="100%">
                                                            <table class="table table-bordered">
                                                                <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <strong>Activated</strong>
                                                                    </td>
                                                                    <td><span id="isActive"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>Mandate ID</strong>
                                                                    </td>
                                                                    <td><span id="mandateId"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>Request ID</strong>
                                                                    </td>
                                                                    <td><span id="requestId"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>Transaction Reference</strong>
                                                                    </td>
                                                                    <td><span id="remitaTransRef"></span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <strong>Registration Date</strong>
                                                                    </td>
                                                                    <td><span id="registrationDate"></span></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
        <div id="wait" style=";width:150px;height:100px;position:fixed;top:50%;left:50%;padding:2px;z-index:99999;"><img src='spinner.gif' width="100" height="100" style="background-color: transparent"/></div>
    </div><!-- .content -->


</div><!-- /#right-panel -->
<!-- Right Panel -->

<!-- Modal -->
<div class="modal fade" id="disburseModal" tabindex="-1" role="dialog" aria-labelledby="disburseModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="disburseModalLabel">Disburse Loan</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="form-control-label">Actual Disbursement Amount</label>
                        <div class="input-group">
                            <div class="input-group-addon">₦</div>
                            <input id="disbursement-amount" type="text" class="form-control" placeholder="0" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Choose a Funding Source</label><strong style="color:red"> *</strong><span id="funding-error" style="padding-left:50px; text-align: center"></span>
                        <div class="input-group">
                            <select id="funding" class="form-control" required="required">
                                <option selected="selected">-- Select a Funding Source --</option>
                                <option value="Default">Default</option>
                                <option value="Secondary">Secondary</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Choose a Disbursement Channel</label><strong style="color:red"> *</strong><span id="channel-error" style="padding-left:50px; text-align: center"></span>
                        <div class="input-group">
                            <select id="channel" class="form-control" required="required">
                                <option selected="selected">-- Select a Channel --</option>
                                <option value="Cash">Cash</option>
                                <option value="Cheque">Cheque</option>
                                <option value="Bank Transfer">Bank Transfer</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Disbursement Date</label><strong style="color:red"> *</strong><span id="disbursement-date-error" style="padding-left:50px; text-align: center"></span>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                            <input type="date" id="disbursement-date" class="form-control" required="required">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="disburse" type="button" class="btn btn-primary">Disburse</button>
            </div>
        </div>
    </div>
</div>

<!-- Notification Panel -->
<div id="panels" include-html="/includes/notifications.html"></div>

<script src="assets/js/popper.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/lib/chosen/chosen.jquery.min.js"></script>
<script src="assets/js/lib/data-table/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="../../js/helper-functions.js"></script>
<script src="../../menus/menu-items.js"></script>
<script type="text/javascript" src="../../preapproved-loan/view-preapproved-loan/view-preapproved-loan.js"></script>
</body>
</html>
